﻿@model SLEAdminPortal.Models.DeviceEnvironmentMappingModel

<div class="form-group">
    <label>Device</label>
    @Html.DropDownListFor(m => m.DeviceId, (SelectList)ViewData["Device"], "-Select Device-", new { @required = "required", @class = "form-control" })
    @Html.ValidationMessageFor(model => model.DeviceId, "Select Device", new { @class = "text-danger" })
</div>

<div class="form-group">
    <label>Environment</label>
    @Html.HiddenFor(m => m.EditDeviceId)
    @Html.HiddenFor(m => m.EditEnvironmentMasterId)
    
    @Html.DropDownListFor(m => m.EnvironmentMasterId, (SelectList)ViewData["Environment"], "-Select Environment-", new { @required = "required", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.EnvironmentMasterId, "Select Environment", new { @class = "text-danger" })
</div>
