﻿@{
    ViewBag.Title = "Device Environment Mapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<SLEAdminPortal.Models.DeviceEnvironmentMappingModel>

<div class="wrapper wrapper-content animated fadeInRight">
    <div id="tabwhite" class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1">Device Environment Mapping List</a></li>
                </ul>

                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group col-lg-12"> <a class="btn btn-primary" onclick="createModal()">Add New Device Environment Mapping</a> </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Total Device Environment Mapping : @Model.Count() </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Device Id</th>
                                <th>Environment Name</th>                                
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 1; i <= @Model.Count(); i++)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@Model.ElementAt(i - 1).DeviceId</td>
                                    <td>@Model.ElementAt(i - 1).EnvName</td>
                                    <td><button type="button" class="btn btn-primary" onclick="editModal(@Model.ElementAt(i - 1).EnvironmentMasterId, '@Model.ElementAt(i - 1).DeviceId');">Edit</button></td>
                                    <td><div class="form-group col-lg-12"> <a class="btn btn-danger" onclick="DeleteRecord(@Model.ElementAt(i - 1).EnvironmentMasterId, '@Model.ElementAt(i - 1).DeviceId');">Delete</a> </div></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal For Create *@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Add New Device Environment Mapping</h4>
            </div>
            @using (Html.BeginForm("Save", "DeviceEnvironmentMapping", FormMethod.Post))
            {
                <div class="modal-body">
                    <div id="createModal">

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            }
        </div>
    </div>
</div>

@* Modal For Edit *@
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Edit Device Environment Mapping</h4>
            </div>
            @using (Html.BeginForm("Update", "DeviceEnvironmentMapping", FormMethod.Post))
            {
                <div class="modal-body">
                    <div id="editModal">

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        var msg= "@ViewBag.msg";
        if (msg != null && msg != "")
            alert(msg);
    });

    //Create Device Environment Mapping
    function createModal() {
        $.ajax({
            url: '@Url.Action("Create", "DeviceEnvironmentMapping")',
            contenttype: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html'
        })
        .success(function (result) {
            $("#createModal").html(result);
            $('form').removeData('validator');
            $('form').removeData('unobtrusiveValidation');
            $.validator.unobtrusive.parse('form');
            $("#myModal").modal('show');
        });
    }

    //Edit Device Environment Mapping
    function editModal(id1,id2) {
        $.ajax({
            url: '../DeviceEnvironmentMapping/Edit/?deviceid=' + id2 + '&environmentid='+id1,
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            datatype: 'html',
            cache: false,
            success: function (result) {
                $("#editModal").html(result);
                $('form').removeData('validator');
                $('form').removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse('form');
                $("#myModal1").modal('show');
            },
            error: function (result) {
            }
        });
    }

    //Delete Device Environment Mapping
    function DeleteRecord(id1,id2) {
        if (confirm("Are you sure you want to delete this row?")) {
            var EnvironmentMasterId;

            $.ajax({
                url: '../DeviceEnvironmentMapping/Delete/?deviceid=' + id2 + '&environmentid='+id1,
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                cache: false,
                success: function (data) {
                    if(data.result==true){
                        alert("Record Deleted");
                        window.location.reload();
                    }
                    else
                        alert(data.msg);
                },
                error: function (result) {
                }
            });
        }
    }

</script>