﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right", style = "height:10px;" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-top-links navbar-right" style="height:10%;">
            <li><a href="javascript:document.getElementById('logoutForm').submit()" style="margin-top: -21px;"><i class="fa fa-sign-out"></i> Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-top-links navbar-right" style="height:10%;">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
