﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a href="#">
                        <span class="clear">
                            @{
                                var displayName = "";
                                var role = "";
                                var roles = new string[] { "DSM", "RSM", "RSR" };
                                if (Session["user"] != null)
                                {
                                    displayName = ((SLEAdminPortal.Models.LoginViewModel)Session["user"]).DisplayName;
                                    role = ((SLEAdminPortal.Models.LoginViewModel)Session["user"]).Role;
                                }
                            }
                            <span class="block m-t-xs">
                                <strong class="font-bold"> @displayName </strong>
                            </span>
                            @*<span class="text-muted text-xs block"></span>*@
                            <span class="text-muted text-xs block">Release Date: 11/28/2016</span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    SLE
                </div>
            </li>
            @if (Session["user"] != null)
            {
                if (((SLEAdminPortal.Models.LoginViewModel)Session["user"]).Role.ToString() != "ITADMIN")
                {
                    if (((SLEAdminPortal.Models.LoginViewModel)Session["user"]).Role.ToString() == "DSM")
                    {
                        <li class="@Html.IsSelected(action: "Index", controller: "DSADashboard")">
                            <a href="@Url.Action("Index", "DSADashboard")"><i class="fa fa-laptop"></i> <span class="nav-label">Dashboard</span> </a>
                        </li>
                    }
                    else
                    {
                        <li class="@Html.IsSelected(action: "Index", controller: "Dashboard")">
                            <a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-laptop"></i> <span class="nav-label">Devices</span> </a>
                        </li>
                    }
                }
                if (((SLEAdminPortal.Models.LoginViewModel)Session["user"]).Role.ToString() == "DSM")
                {
                    <li class="@Html.IsSelected(controller: "Metrics", action: "Index")">
                        <a href="@Url.Action("Index", "Metrics")"><i class="fa fa-group"></i> <span class="nav-label">Metrics</span></a>
                    </li>
                    <li class="@Html.IsSelected(action: "Index", controller: "Approval")">
                        <a href="@Url.Action("Index", "Approval")"><i class="fa fa-laptop"></i> <span class="nav-label">Approval</span> </a>
                    </li>
                    <li class="@Html.IsSelected(action: "Index", controller: "CycleCount")">
                        <a href="@Url.Action("Index", "CycleCount")"><i class="fa fa-laptop"></i> <span class="nav-label">Cycle Count</span> </a>
                    </li>
                    <li class="@Html.IsSelected(controller: "User", action: "Authorization")">
                        <a href="@Url.Action("Index", "Authorization")"><i class="fa fa-group"></i> <span class="nav-label">Authorization</span></a>
                    </li>
                    <li class="@Html.IsSelected(action: "Index", controller: "InProcess")">
                        <a href="@Url.Action("Index", "InProcess")"><i class="fa fa-laptop"></i> <span class="nav-label">In Process Transaction</span> </a>
                    </li>
                    <li class="@Html.IsSelected(action: "Index", controller: "DeliveryDay")">
                        <a href="@Url.Action("Index", "DeliveryDay")"><i class="fa fa-laptop"></i> <span class="nav-label">Delivery Day Code</span> </a>
                    </li>

                    <li class="@Html.IsSelected(action: "Index", controller: "ARAging")">
                        <a href="@Url.Action("Index", "ARAging")"><i class="fa fa-laptop"></i> <span class="nav-label">Customer AR Aging</span> </a>
                    </li>

                    <li class="@Html.IsSelected(action: "Index", controller: "Replenishment")">
                        <a href="@Url.Action("Index", "Replenishment")"><i class="fa fa-laptop"></i> <span class="nav-label">Route Replenishment</span> </a>
                    </li>
                    <li class="@Html.IsSelected(action: "Index", controller: "Quotes")">
                        <a href="@Url.Action("Index", "Quotes")"><i class="fa fa-laptop"></i> <span class="nav-label">Quotes</span> </a>
                    </li>
                }
                else
                {
                    if ((!roles.Contains(((SLEAdminPortal.Models.LoginViewModel)Session["user"]).Role.ToString())))
                    {
                        @*<li class="@Html.IsSelected(action: "Index", controller: "Dashboard")">
                                <a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-laptop"></i> <span class="nav-label">Devices</span> </a>
                            </li>*@
                
                        <li class="@Html.IsSelected(controller: "Device", action: "Index")">
                            <a href="@Url.Action("Index", "Device")"><i class="fa fa-laptop"></i> <span class="nav-label">Devices</span></a>
                        </li>

                        <li class="@Html.IsSelected(controller: "UserMaster", action: "UserMaster")">
                            <a href="@Url.Action("UserMaster", "UserMaster")"><i class="fa fa-group"></i> <span class="nav-label">User</span></a>
                        </li>
                    }
                    @*<li class="@Html.IsSelected(controller: "Route", action: "Index")">
                            <a href="@Url.Action("Index", "Route")"><i class="fa fa-sitemap"></i> <span class="nav-label">Routes</span></a>
                        </li>*@
                    @*<li class="@Html.IsSelected(action: "MapUser", controller: "User")">
                            <a href="@Url.Action("MapUser", "User")"><i class="fa fa-laptop"></i> <span class="nav-label">User Mapping</span> </a>
                        </li>*@
                    <li class="@Html.IsSelected(action: "EnvIndex", controller: "Environment")">
                        <a href="@Url.Action("EnvIndex", "Environment")"><i class="glyphicon glyphicon-bookmark"></i> <span class="nav-label">Environment</span> </a>
                    </li>

                    <li class="@Html.IsSelected(controller: "AdminMaster", action: "RoleMaster")">
                        <a href="@Url.Action("RoleMaster", "AdminMaster")"><i class="glyphicon glyphicon-flag"></i> <span class="nav-label">Role Master</span></a>
                    </li>

                    <li class="@Html.IsSelected(controller: "AdminMaster", action: "SecurableFeaturesMaster")">
                        <a href="@Url.Action("SecurableFeaturesMaster", "AdminMaster")"><i class="fa fa-lock"></i> <span class="nav-label">Securable Features</span></a>
                    </li>
                    <li class="@Html.IsSelected(controller: "AdminMaster", action: "RoleFeaturesMaster")">
                        <a href="@Url.Action("RoleFeaturesMaster", "AdminMaster")"><i class="glyphicon glyphicon-user"></i> <span class="nav-label">Role Features</span></a>
                    </li>

                    <li class="@Html.IsSelected(controller: "RouteSecurity", action: "RouteSecurityIndex")">
                        <a href="@Url.Action("RouteSecurityIndex", "RouteSecurity")"><i class="fa fa-shield fa-flip-horizontal"></i> <span class="nav-label">Route Security</span></a>
                    </li>
                
                 <li class="@Html.IsSelected(controller: "WindowsService", action: "Index")">
                        <a href="@Url.Action("Index", "WindowsService")"><i class="fa fa-server fa-flip-horizontal"></i> <span class="nav-label">Windows Services</span></a>
                    </li>


                    @*<li class="@Html.IsSelected(controller: "DeviceEnvironmentMapping", action: "Index")">
                            <a href="@Url.Action("Index", "DeviceEnvironmentMapping")"><i class="fa fa-map-marker"></i> <span class="nav-label">Device Mapping</span></a>
                        </li>*@

                }

            }
        </ul>
    </div>
</nav>