﻿<div class="row wrapper border-bottom white-bg page-heading" style="height: 70px;">
        <div class="col-lg-10" style="width:100%;">
            <table style="width:100%;">
                <tr><td style=" width:50%;">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " style="margin-left:-1%;margin-top: 3.5%;" href="#"><i class="fa fa-bars"></i> </a>
                            <h2>   @ViewBag.Title</h2>
    </td>
                    <td style=" width:50%;">
                        <span style="float:right; margin-top:2.5%;">@DateTime.Now.ToLongDateString()
                        @*<span  style="float:right;">@Html.Partial("_LoginPartial")</span>*@
                        </span>
                        
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
