﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Role Features";
}
@model SLEAdminPortal.Models.RoleFeaturesModel

<div class="wrapper wrapper-content animated fadeInRight">
    <div id="tabwhite" class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <form role="form">
                                @using (Html.BeginForm())
                                {
                                    <div class="form-group col-lg-3"><label>Role Name</label> @Html.TextBox("RoleName", null, new { @class = "form-control", @placeholder = "Role Name" })</div>
                                    <div class="form-group col-lg-3"><label>Feature Name</label>@Html.TextBox("FeatureName", null, new { @class = "form-control", @placeholder = "Feature Name" })</div>
                                    <div class="form-group col-lg-3">
                                        <label>&nbsp;</label> <br />
                                        <button id="Search_RoleFeature" type="submit" class="btn btn-primary">
                                            Search
                                        </button>
                                    </div>
                                }
                                @*<div class="form-group col-lg-12"> <a data-toggle="modal" class="btn btn-primary" data-target="#myModal" onclick="ClearRoleFeaturesModelWindow()">Add Role Feature</a> </div>*@
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>
                                Total Mapped Feature : @if (Model != null)
                                { @Model.RoleFeatures.Count }
                                else
                                {<span>0</span> }
                            </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="#">Config option 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Config option 2</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Role Name</th>
                                        <th>Feature Name</th>
                                        <th>Setting Value</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        for (int i = 1; i <= Model.RoleFeatures.Count; i++)
                                        {
                                            bool canEdit = false;
                                            <tr>
                                                <td width="100">@i</td>
                                                <td width="300">@Model.RoleFeatures.ElementAt(i - 1).RoleName</td>
                                                <td width="300">@Model.RoleFeatures.ElementAt(i - 1).FeatureName</td>
                                                <td id="lablebut" width="100">
                                                    @if (Model.RoleFeatures.ElementAt(i - 1).SettingValue == "1")
                                                    {
                                                        <button class="label label-primary" type="submit" id="btnActive-@Model.RoleFeatures.ElementAt(i - 1).RoleID-@Model.RoleFeatures.ElementAt(i - 1).FeatureID" onclick="ToggleActiveRoleFeature(@Model.RoleFeatures.ElementAt(i - 1).RoleID, @Model.RoleFeatures.ElementAt(i - 1).FeatureID)">
                                                            Yes
                                                        </button>
                                                    }
                                                    else if (Model.RoleFeatures.ElementAt(i - 1).SettingValue == "0")
                                                    {
                                                        <button class="label label-danger" type="submit" id="btnActive-@Model.RoleFeatures.ElementAt(i - 1).RoleID-@Model.RoleFeatures.ElementAt(i - 1).FeatureID" onclick="ToggleActiveRoleFeature(@Model.RoleFeatures.ElementAt(i - 1).RoleID, @Model.RoleFeatures.ElementAt(i - 1).FeatureID)">
                                                            No
                                                        </button>
                                                    }
                                                    else
                                                    {

                                                        string Role_FeatureID = Model.RoleFeatures.ElementAt(i - 1).RoleID + "_" + Model.RoleFeatures.ElementAt(i - 1).FeatureID;

                                                        <table cellpadding="0" cellspacing="0" style="margin-left:-2px;">
                                                            <tr>

                                                                <td valign="top" style="text-align:left">
                                                                    <span id="settingValueSpan_@Role_FeatureID">@Model.RoleFeatures.ElementAt(i - 1).SettingValue</span>&nbsp;&nbsp;
                                                                    <span>
                                                                        @{
                                                        string[] optionValueArray = Model.RoleFeatures.ElementAt(i - 1).OptionValue.Split('|');
                                                                        }
                                                                        <select id="roleFeatureListForEdit_@Role_FeatureID" style="display:none;" multiple>
                                                                            @for (int optionValueCount = 0; optionValueCount < optionValueArray.Length; optionValueCount++)
                                                                            {
                                                                                string[] currentSettingValue = Model.RoleFeatures.ElementAt(i - 1).SettingValue.Split('|');
                                                                                string IsOptionValueSelected = "";
                                                                                for (int currentSettingCount = 0; currentSettingCount < currentSettingValue.Length; currentSettingCount++)
                                                                                {
                                                                                    if (Convert.ToString(optionValueArray[optionValueCount]).Trim() == Convert.ToString(currentSettingValue[currentSettingCount]).Trim())
                                                                                    {
                                                                                        IsOptionValueSelected = "selected=selected";
                                                                                    }
                                                                                }
                                                                                <option @IsOptionValueSelected value="@optionValueArray[optionValueCount]">@optionValueArray[optionValueCount]</option>
                                                                            }
                                                                        </select>&nbsp;&nbsp;
                                                                    </span>
                                                                </td>
                                                                <td valign="top">
                                                                    <span><img id="editRoleFeature_@Role_FeatureID" src="../Icons/edit.png" width="16" style="cursor:pointer;" title="Edit" onclick="$('#saveRoleFeature_@Role_FeatureID').show(); $('#roleFeatureListForEdit_@Role_FeatureID').show(); $(this).hide(); $('#settingValueSpan_@Role_FeatureID').hide();" /></span>
                                                                    <span><img id="saveRoleFeature_@Role_FeatureID" src="../Icons/save.png" style="cursor:pointer;display:none;" title="Save" onclick="SaveRoleFeatureList(@Model.RoleFeatures.ElementAt(i - 1).RoleID, @Model.RoleFeatures.ElementAt(i - 1).FeatureID, '@Role_FeatureID')" /></span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    }
                                                </td>

                                                <td><div class="form-group col-lg-12"><a data-toggle="modal" class="btn btn-danger" onclick="DeleteRoleFeature(@Model.RoleFeatures.ElementAt(i - 1).RoleID, @Model.RoleFeatures.ElementAt(i - 1).FeatureID)">Delete</a> </div></td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Add New Role Feature</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SaveNewRoleFeature", "AdminMaster", new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Role ID</label>
                        @Html.DropDownListFor(m => Model.SelectedRoleUser, Model.RoleUserList, "Select Role", new { @class = "form-control", id = "SelectedRoleUserDropdownlist" })
                        <label id="SelectedRoleUserReq" style="color:Red;font-size:10px;font-weight:normal;"></label>
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="control-label">Feature ID</label>
                        @Html.DropDownListFor(m => Model.SelectedFeature, Model.SecurableFeatureList, "Select Feature", new { @class = "form-control", id = "SelectedFeatureDropdownlist", @onchange = "LoadDefaultSettingValue(this);" })
                        <label id="SelectedFeatureReq" style="color:Red;font-size:10px;font-weight:normal;"></label>
                    </div>

                    <div class="form-group">
                        <div id=SettingValuePlaceHolderDiv></div>
                        <label id="SettingValueReq" style="color:Red;font-size:10px;font-weight:normal;"></label>
                    </div>
                    <br />
                    <div class="text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="SaveRoleFeature();">Save</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function LoadDefaultSettingValue(ctrl) {
        if ($(ctrl).val() == '') {
            $('#SettingValuePlaceHolderDiv').html('');
        }
        else {
            var obj = {};
            obj.featureID = $(ctrl).val();

            $.ajax({
                url: '/AdminMaster/GetOptionTypeAndSettingValues',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(obj),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    if (data.optionType == 'Toggle') {
                        var toggleDefaultTrue = '';
                        var toggleDefaultFalse = '';
                        if (data.defaultValue != '' && (data.defaultValue == '1') || (data.defaultValue.toLowerCase() == 'true')) {
                            toggleDefaultTrue = "selected='selected'"
                        }
                        else if (data.defaultValue != '' && (data.defaultValue == '0') || (data.defaultValue.toLowerCase() == 'false')) {
                            toggleDefaultFalse = "selected='selected'"
                        }
                        var toggleCtrl = '<label for="message-text" class="control-label">Setting Value</label>';
                        toggleCtrl += "<select class='form-control valid' id='SettingValue'>";
                        toggleCtrl += "<option value=''></option>";
                        toggleCtrl += "<option value='1' " + toggleDefaultTrue + ">True</option>";
                        toggleCtrl += "<option value='0' " + toggleDefaultFalse + ">False</option>";
                        toggleCtrl += "</select>";
                        $('#SettingValuePlaceHolderDiv').html(toggleCtrl);
                    }
                    else if (data.optionType == 'List') {
                        var listDefaultArr = [];
                        if (data.defaultValue != '' && data.defaultValue.indexOf('|') > -1) {
                            listDefaultArr = data.defaultValue.split('|');
                        }
                        else if (data.defaultValue != '') {
                            listDefaultArr.push(data.defaultValue);
                        }

                        var listArr = [];
                        if (data.optionValue != '' && data.optionValue.indexOf('|') > -1) {
                            listArr = data.optionValue.split('|');
                        }
                        else if (data.optionValue != '') {
                            listArr.push(data.optionValue);
                        }
                        var comboBoxCtrl = '<label for="message-text" class="control-label">Setting Value</label>';
                        comboBoxCtrl += '<select class="form-control valid" id="SettingValue" multiple>';
                        for (var i = 0; i < listArr.length ; i++) {
                            var hasDefaultList = false;
                            for (var j = 0; j < listDefaultArr.length; j++) {
                                if ($.trim(listArr[i]) == $.trim(listDefaultArr[j])) {
                                    hasDefaultList = true;
                                    break;
                                }
                            }
                            if (hasDefaultList == false) {
                                comboBoxCtrl += '<option value="' + $.trim(listArr[i]) + '">' + $.trim(listArr[i]) + '</option>';
                            }
                            else {
                                comboBoxCtrl += '<option selected="selected" value="' + $.trim(listArr[i]) + '">' + $.trim(listArr[i]) + '</option>';
                            }
                        }
                        comboBoxCtrl += '</select>';
                        $('#SettingValuePlaceHolderDiv').html(comboBoxCtrl);
                    }
                }
            })
        }
    }

    function ClearRoleFeaturesModelWindow() {
        document.getElementById('SelectedRoleUserDropdownlist').selectedIndex = 0;
        document.getElementById('SelectedFeatureDropdownlist').selectedIndex = 0;
        $('#SettingValuePlaceHolderDiv').html('');
        $('#SelectedRoleUserReq').html('');
        $('#SelectedFeatureReq').html('');
        $('#SettingValueReq').html('');
    }

    function SaveRoleFeature() {
        var settingValue = '';
        var roleId = $('#SelectedRoleUserDropdownlist').val();
        var featureId = $('#SelectedFeatureDropdownlist').val();
        var tempValue = $('#SettingValue').val();

        if ($.isArray(tempValue)) {
            for (var count = 0 ; count < tempValue.length; count++) {
                settingValue = settingValue + '|' + tempValue[count];
            }
        }
        else {
            settingValue = tempValue;
        }

        $('#SelectedRoleUserReq').html('');
        $('#SelectedFeatureReq').html('');
        $('#SettingValueReq').html('');

        var requiredMissing = false;
        if (roleId == '') {
            requiredMissing = true;
            $('#SelectedRoleUserReq').html('Please select a role');
        }
        if (featureId == '') {
            requiredMissing = true;
            $('#SelectedFeatureReq').html('Please select a feature');
        }
        if (settingValue == '') {
            requiredMissing = true;
            $('#SettingValueReq').html('Please select a setting value');
        }

        if (requiredMissing == false) {
            var obj = {};
            obj.roleId = roleId;
            obj.featureId = featureId;
            obj.settingValue = settingValue;

            $.ajax({
                url: '/AdminMaster/SaveRoleFeature',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(obj),
                async: false,
                processData: false,
                cache: false,
                success: function (data) {
                    if (data.success == 1) {
                        window.location.reload();
                    }
                    else if (data.success == 2) {
                        alert("Role Feature already exists");
                    }
                    else {
                        alert('Error occurred while saving Role Feature');
                    }
                }
            });
        }
    }

    function DeleteRoleFeature(roleId, featureId) {
        if (confirm("Are you sure you want to delete this Role Feature?")) {
            var obj = {};
            obj.roleID = roleId;
            obj.featureID = featureId;

            $.ajax({
                url: '/AdminMaster/DeleteRoleFeature',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(obj),
                async: false,
                processData: false,
                cache: false,
                success: function (data) {
                    if (data.success == 1) {
                        window.location.reload();
                    }
                }
            });
        }
    }

    function SaveRoleFeatureList(roleID, featureID, roleID_featureID) {
        var tempValue = $('#roleFeatureListForEdit_' + roleID_featureID).val();
        var settingValue = '';
        if ($.isArray(tempValue)) {
            for (var count = 0 ; count < tempValue.length; count++) {
                settingValue = settingValue + '|' + tempValue[count];
            }
        }
        else {
            settingValue = tempValue;
        }


        var obj = {};
        obj.roleID = roleID;
        obj.featureID = featureID;
        obj.settingValue = settingValue;
        $.ajax({
            url: '/AdminMaster/SaveRoleFeatureList',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(obj),
            async: false,
            processData: false,
            cache: false,
            success: function (data) {
                if (data.success == 1) {
                    window.location.reload();
                }
            }
        });
    }

    function ToggleActiveRoleFeature(RoleId, FeatureId) {
        var active = 'OFF';
        var act = $("#btnActive-" + RoleId+"-"+FeatureId).text().trim();

        if (act == "Yes")
            active = 'OFF';
        else
            active = 'ON';

        $.ajax({
            url: '@Url.Content("~")AdminMaster/ToggleActiveRoleFeature',
            data: { RoleID: RoleId, State: active, FeatureID:FeatureId },
            dataType: 'json',
            type: 'POST',
            success: function (result) {
                if (result.result == true) {
                    if (act == "Yes") {
                        $("#btnActive-" + RoleId+"-"+FeatureId).removeClass("label-primary");
                        $("#btnActive-" + RoleId+"-"+FeatureId).addClass("label-danger");
                        $("#btnActive-" + RoleId+"-"+FeatureId).text("No");
                    }
                    else {
                        $("#btnActive-" + RoleId+"-"+FeatureId).removeClass("label-danger");
                        $("#btnActive-" + RoleId+"-"+FeatureId).addClass("label-primary");
                        $("#btnActive-" + RoleId+"-"+FeatureId).text("Yes");
                    }
                }
                else {
                    alert("Failed To Update Active Status");
                }
            },
            error: function (theError) {
                alert("Failed To Update Active Status");
            }
        });
    }

</script>