﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Role Master";
}
@model SLEAdminPortal.Models.AdminRoleModel

<div class="wrapper wrapper-content animated fadeInRight">
    <div id="tabwhite" class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <form role="form">
                                @using (Html.BeginForm())
                                {
                                    <div class="form-group col-lg-3"><label>Role ID</label> @Html.TextBox("RoleID", null, new { @class = "form-control", @placeholder = "Role ID", @onkeypress = "return isNumber(event)" })</div>
                                    <div class="form-group col-lg-3"><label>Role Name</label>@Html.TextBox("RoleNames", null, new { @class = "form-control", @placeholder = "Role Name" })</div>
                                    <div class="form-group col-lg-3"><label>Description</label>@Html.TextBox("RoleDescription", null, new { @class = "form-control", @placeholder = "Description" })</div>
                                    <div class="form-group col-lg-3">
                                        <label>&nbsp;</label> <br />
                                        <button id="Search_Role" type="submit" class="btn btn-primary">
                                            Search
                                        </button>
                                    </div>
                                }
                                <div class="form-group col-lg-12"> <a data-toggle="modal" class="btn btn-primary" data-target="#myModal">Add  New Role</a> </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>
                                Total Roles : @if (Model != null)
                                { @Model.AdminRoles.Count }
                                else
                                {<span>0</span>}
                            </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="#">Config option 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Config option 2</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Role ID</th>
                                        <th>Role Name</th>
                                        <th>Role Description</th>
                                        @*<th>Weightage</th>*@
                                        <th>Active</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        for (int i = 1; i <= @Model.AdminRoles.Count; i++)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@Model.AdminRoles.ElementAt(i - 1).RoleID</td>
                                                <td>@Model.AdminRoles.ElementAt(i - 1).RoleName</td>
                                                <td>@Model.AdminRoles.ElementAt(i - 1).RoleDescription</td>
                                                @*<td>@Model.AdminRoles.ElementAt(i - 1).Weightage</td>*@
                                                <td id="lablebut" width="50">
                                                    @if (Model.AdminRoles.ElementAt(i - 1).Active == 1)
                                                    {
                                                        <button class="label label-primary" id="btnActive-@Model.AdminRoles.ElementAt(i - 1).RoleID" type="submit" onclick="ToggleActive(@Model.AdminRoles.ElementAt(i - 1).RoleID)">
                                                            Yes
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button class="label label-danger" type="submit" id="btnActive-@Model.AdminRoles.ElementAt(i - 1).RoleID" onclick="ToggleActive(@Model.AdminRoles.ElementAt(i - 1).RoleID)">
                                                            No
                                                        </button>
                                                    }
                                                </td>
                                                <td><div class="form-group col-lg-12"><a data-toggle="modal" class="btn btn-danger" onclick="Deletethisrecord('@Model.AdminRoles.ElementAt(i-1).RoleID')">Delete</a> </div></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Add New Role</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SaveNewRole", "AdminMaster", new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Role Name</label>
                        @Html.TextBoxFor(model => model.RoleName, new { @class = "form-control", name = "RoleName", id = "RoleName" })
                        @Html.ValidationMessageFor(model => model.RoleName)
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="control-label">Role Description</label>
                        @Html.TextBoxFor(model => model.RoleDescription, new { @class = "form-control", name = "RoleDescription", id = "RoleDescription" })
                    </div>
                    <br />
                    <div class="text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@*<script>
        $(function () {
            $('.onoff').on('click', function () {
                var $this = $(this);
                var roleid = $this.attr('datatag');
                //ajax call
                //success
                $this.find('span')
            });
        });
    </script>*@

<script>
    function Deletethisrecord(findval) {
        if (confirm("Are you sure you want to delete this row?")) {
            var RoleID;

            $.ajax({
                url: '../AdminMaster/DeleteRole/?RoleID=' + findval + '',
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                cache: false,
                success: function (result) {
                    window.location.reload();
                },
                error: function (result) {
                }
            });
        }
    }

    function ToggleActive(RoleId) {
        var active = 'OFF';
        var act = $("#btnActive-" + RoleId).text().trim();
        if (act == "Yes")
            active = 'OFF';
        else
            active = 'ON';

        $.ajax({
            url: '@Url.Content("~")AdminMaster/ToggleActive',
            data: { RoleID: RoleId, State: active },
            dataType: 'json',
            type: 'POST',
            success: function (result) {
                if (result.result == true) {
                    if (act == "Yes") {
                        $("#btnActive-" + RoleId).removeClass("label-primary");
                        $("#btnActive-" + RoleId).addClass("label-danger");
                        $("#btnActive-" + RoleId).text("No");
                    }
                    else {
                        $("#btnActive-" + RoleId).removeClass("label-danger");
                        $("#btnActive-" + RoleId).addClass("label-primary");
                        $("#btnActive-" + RoleId).text("Yes");
                    }
                }
                else {
                    alert("Failed To Update Active Status");
                }
            },
            error: function (theError) {
                alert("Failed To Update Active Status");
            }
        });
    }
</script>