﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Securable Features";
}
@model SLEAdminPortal.Models.SecurableFeaturesModel

<div class="wrapper wrapper-content animated fadeInRight">
    <div id="tabwhite" class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <form role="form">
                                @using (Html.BeginForm())
                                {
                                    <div class="form-group col-lg-3"><label>Feature ID</label> @Html.TextBox("FeatureID", null, new { @class = "form-control", @placeholder = "Feature ID", @onkeypress = "return isNumber(event)" })</div>
                                    <div class="form-group col-lg-3"><label>Feature Name</label>@Html.TextBox("FeatureNames", null, new { @class = "form-control", @placeholder = "Feature Name" })</div>
                                    <div class="form-group col-lg-3"><label>Description</label>@Html.TextBox("FeatureDescription", null, new { @class = "form-control", @placeholder = "Description" })</div>
                                    <div class="form-group col-lg-3">
                                        <label>&nbsp;</label> <br />
                                        <button id="Search_SecFeature" type="submit" class="btn btn-primary">
                                            Search
                                        </button>
                                    </div>
                                }
                                <div class="form-group col-lg-12"> <a data-toggle="modal" class="btn btn-primary" data-target="#myModal">Add  New Feature</a> </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>
                                <b>
                                    Total Features : @if (Model != null)
                                    { @Model.SecurableFeatures.Count }
                                    else
                                    { <span>0</span> }
                                </b>
                            </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="#">Config option 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Config option 2</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Feature ID</th>
                                        <th>Feature Name</th>
                                        <th>Feature Description</th>
                                        <th>Option Type</th>
                                        <th>Option Values</th>
                                        <th>Default Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        for (int i = 1; i <= @Model.SecurableFeatures.Count; i++)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@Model.SecurableFeatures.ElementAt(i - 1).FeatureID</td>
                                                <td>@Model.SecurableFeatures.ElementAt(i - 1).FeatureName</td>
                                                <td>@Model.SecurableFeatures.ElementAt(i - 1).FeatureDescription</td>
                                                <td>@Model.SecurableFeatures.ElementAt(i - 1).OptionType</td>
                                                <td>@Model.SecurableFeatures.ElementAt(i - 1).OptionValue</td>
                                                <td>@Model.SecurableFeatures.ElementAt(i - 1).DefaultValue</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Add New Feature</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SaveNewSecurableFeature", "AdminMaster", new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="form-group">
                        <span style="color: #e25856; left: 20px; position: absolute;">*</span>
                        <label for="recipient-name" class="control-label">Feature Name</label>
                        @Html.TextBoxFor(model => model.FeatureName, new { @class = "form-control", name = "FeatureName", id = "FeatureName" })
                        @Html.ValidationMessageFor(model => model.FeatureName)
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label"> Feature Description</label>
                        @Html.TextBoxFor(model => model.FeatureDescription, new { @class = "form-control", name = "FeatureDescription", id = "FeatureDescription" })
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label"> Option Type</label>
                        @Html.DropDownListFor(m => Model.SelectedOption, Model.SelectedOptionType, "Select Option", new { @class = "form-control", id = "SelectOption" })
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Option Value</label>&nbsp;<span class="control-label small">(Separate by '|')</span>
                        @Html.TextBoxFor(model => model.OptionValue, new { @class = "form-control", name = "OptionValue", id = "OptionValue", disabled = "disabled" })
                    </div>
                    <div class="form-group" id="divDefault">
                        <label for="message-text" class="control-label">Default Value</label>
                        @Html.DropDownListFor(m => Model.DefaultValue, Model.SelectedOptionType, "Select Option", new { @class = "form-control", id = "ddlDefValue" })
                        @Html.DropDownListFor(m => Model.SelectedToggleValue, Model.SelectedToogleList, "No Select", new { @class = "form-control", id = "ddlToggle" })
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">From Portal Release</label>
                        @Html.TextBoxFor(model => model.FromPortalRelease, new { @class = "form-control", name = "FromPortalRelease", id = "FromPortalRelease" })
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">To Portal Release</label>
                        @Html.TextBoxFor(model => model.ToPortalRelease, new { @class = "form-control", name = "ToPortalRelease", id = "ToPortalRelease" })
                    </div>
                    <br />
                    <div class="text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        $("#divDefault").hide();

        $("#SelectOption").change(function () {
            $("#divDefault").show();
            if ($("#SelectOption option:selected").text() == 'List') {
                $("#OptionValue").val('');
                $("#ddlDefValue").show();
                $("#ddlToggle").hide();
                $("#ddlDefValue").find('option').remove();
                $("#OptionValue").prop('disabled', false);
            }
            else {
                $("#OptionValue").val('');
                $("#ddlDefValue").hide();
                $("#ddlToggle").show();
                $("#ddlDefValue").find('option').remove();
                $("#OptionValue").prop('disabled', true);
            }
        });

        //$('#OptionValue').on('input', function () {
        //    var strOptionValue = $('#OptionValue').val();
        //    var arr = strOptionValue.split("|");
        //});

        $('#OptionValue').blur(function () {
            var strOptionValue = $('#OptionValue').val();
            var arr = strOptionValue.split("|");
            $("#ddlDefValue").find('option').remove();
            for (var i = 0; i < arr.length; i++) {
                //alert(arr[i]);
                if (arr[i] != '')
                    $("#ddlDefValue").append("<option value='" + arr[i] + "'>" + arr[i] + "</option>");
            }
        });
    });
</script>
