﻿@{
    ViewBag.Title = "Devices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SLEAdminPortal.Models.DeviceModels
@using SLEAdminPortal.Controllers

<style>
    .mandatory {
        border: 1px solid red;
    }
</style>

<div class="wrapper wrapper-content animated fadeInRight">
    <div id="tabwhite" class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1">Device Information</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3">Sync Information</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <form role="form" id="Search">
                                @using (Html.BeginForm())
                                {
                                    <div class="form-group col-lg-3"><label>Computer Name</label>@Html.TextBox("MachineName", null, new { @name = "MachineName", @class = "form-control", @placeholder = "Computer Name" })</div>
                                    <div class="form-group col-lg-3"><label>FQDN</label>@Html.TextBox("FQDNSearch", null, new { @name = "FQDNSearch", @class = "form-control", @placeholder = "FQDN" })</div>
                                    <div class="form-group col-lg-3">
                                        <label>&nbsp;</label> <br />
                                        <button class="btn btn-primary" type="submit">
                                            Search
                                        </button>
                                    </div>
                                }
                                <div class="form-group col-lg-12"> <a id="Title" data-toggle="modal" class="btn btn-primary" onclick="AddModelPopUp()">Add New Device</a> </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>
                                            Total Devices : @if (Model != null)
                                            { @Model.Devices.Count}
                                            else
                                            {<span>0</span>}
                                        </h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Computer Name</th>
                                                    <th hidden>Device ID</th>
                                                    @*<th>FQDN</th>*@
                                                    <th>Environment</th>
                                                    <th>Environment Mapping</th>
                                                    <th width="150">Status</th>
                                                    <th>Route</th>
                                                    <th>Version Number</th>
                                                    <th>Released Date</th>
                                                    <th>Active</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    for (int i = 1; i <= @Model.Devices.Count; i++)
                                                    {
                                                        <tr>
                                                            <td>@i</td>
                                                            <td>@Model.Devices.ElementAt(i - 1).ComptuerName</td>
                                                            <td hidden>@Model.Devices.ElementAt(i - 1).MachineID</td>
                                                            @*<td>@Model.Devices.ElementAt(i - 1).FQDN</td>*@
                                                            <td>
                                                                <div class="form-group col-lg-6">
                                                                    @Html.Nl2Br(Model.Devices.ElementAt(i - 1).Environment)

                                                                </div>
                                                            </td>
                                                            <td>
                                                                <a data-toggle="modal" class="fa fa-link fa-1x" id="EnviList" onclick="ShowEnvModalPopUp('@Model.Devices.ElementAt(i - 1).MachineID')">
                                                                    Map Environment
                                                                </a>
                                                            </td>
                                                            <td>@Html.Nl2Br(Model.Devices.ElementAt(i - 1).Status)</td>
                                                            <td>
                                                                @Html.Nl2Br(Model.Devices.ElementAt(i - 1).Route)
                                                            </td>
                                                            <td>
                                                                @Html.Nl2Br(@Model.Devices.ElementAt(i - 1).VersionNumber)
                                                            </td>
                                                            <td>
                                                                @Html.Nl2Br(@Model.Devices.ElementAt(i - 1).ReleasedDate)
                                                            </td>
                                                            <td id="lablebut">
                                                                @if (@Model.Devices.ElementAt(i - 1).Active == 1)
                                                                {
                                                                    <button type="submit" id="btnActive-@Model.Devices.ElementAt(i - 1).MachineID" class="label label-primary"
                                                                            onclick="ChangeActiveFlag('@Model.Devices.ElementAt(i - 1).MachineID')">
                                                                        Yes
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <button type="submit" id="btnActive-@Model.Devices.ElementAt(i - 1).MachineID" class="label label-danger"
                                                                            onclick="ChangeActiveFlag('@Model.Devices.ElementAt(i - 1).MachineID')">
                                                                        No
                                                                    </button>
                                                                }
                                                            </td>
                                                            @if (@Model.Devices.ElementAt(i - 1).Status == "Ready To Onboard")
                                                            {
                                                                <td>
                                                                    <div class="form-group col-lg-12">
                                                                        <a data-toggle="modal" class="btn btn-primary" id="EditTitle" onclick="EditModalPopUp('@Model.Devices.ElementAt(i - 1).MachineID')">
                                                                            Edit
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            }
                                                            else if (@Model.Devices.ElementAt(i - 1).Status.Contains("OnBoarded"))
                                                            {
                                                                <td>
                                                                    <div class="form-group col-lg-12">
                                                                        <button type="button" class="btn btn-primary disabled">Edit</button>
                                                                    </div>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    <div class="form-group col-lg-12">
                                                                        <button type="button" class="btn btn-primary disabled">Edit</button>
                                                                    </div>
                                                                </td>
                                                            }

                                                            @if (@Model.Devices.ElementAt(i - 1).Status == null)
                                                            {
                                                                <td><button type="button" class="btn btn-primary disabled">Deregister</button></td>
                                                            }
                                                            else if (@Model.Devices.ElementAt(i - 1).Status.Contains("OnBoarded"))
                                                            {
                                                                <td>
                                                                    <button type="submit" class="btn btn-primary"
                                                                            onclick="location.href='@Url.Action("DeviceDeregister", "Device",new {@Model.Devices.ElementAt(i - 1).MachineID,@Model.Devices.ElementAt(i - 1).Route})'">
                                                                        Deregister
                                                                    </button>
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td><button type="button" class="btn btn-primary disabled">Deregister</button></td>
                                                            }
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            -- To Do --
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Add New Device</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SaveDevice", "Device", FormMethod.Post, new { id = "SaveDevice" }))
                {
                    <div class="form-group">
                        <label for="recipient-name" class="control-label"><span style="color: #e25856;">*</span> Computer Name</label>
                        @Html.Hidden("IsNew", "Yes")
                        @Html.TextBox("SaveMachineName", null, new { @class = "form-control", @placeholder = "Computer Name" })                                            
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="control-label"><span style="color: #e25856;">*</span> FQDN</label>
                        @Html.TextBox("FQDN", null, new { @class = "form-control", @placeholder = "FQDN" })                                     
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="control-label"><span style="color: #e25856;">*</span> Manufacturer</label>
                        @Html.TextBox("Manufacturer", null, new { @class = "form-control", @placeholder = "Manufacturer" })
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="control-label"><span style="color: #e25856;">*</span> Model</label>
                        @Html.TextBox("SaveModel", null, new { @class = "form-control", @placeholder = "Model" })
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="control-label"> Status :</label>
                        @Html.TextBox("RouteStatus", "Ready To Onboard", new { @class = "form-control", @placeholder = "Status", @readonly = "readonly" })
                    </div>
                    <br />
                    <div class="text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Select Environment</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SaveEnvironment", "Device", FormMethod.Post, new { id = "SaveEnvironment" }))
                {
                    <div class="form-group">
                        <label>Environment</label>
                        @Html.Hidden("HdnDeviceId", "")
                        @Html.Hidden("HdnEnvironment", "");
                        @Html.ListBox("SelectEnvironment", (SelectList)ViewData["Environment"], new { @class = "form-control", style = "width:350px;" })
                        @Html.ValidationMessageFor(model => model.Environment, "Select Environment", new { @class = "text-danger" })
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        var msg = "@ViewBag.msg";
        if (msg != null && msg != "")
            alert(msg);
        $("form#SaveDevice").submit(function () {
            var valid = true;
            if ($("#SaveMachineName").val() == '') {
                $("#SaveMachineName").addClass('mandatory');
                valid = false;
            }
            else {
                $("#SaveMachineName").removeClass('mandatory');
            }

            if ($("#FQDN").val() == '') {
                $("#FQDN").addClass('mandatory');
                valid = false;
            }
            else {
                $("#MachineID").removeClass('mandatory');
            }

            if ($("#Manufacturer").val() == '') {
                $("#Manufacturer").addClass('mandatory');
                valid = false;
            }
            else {
                $("#Manufacturer").removeClass('mandatory');
            }

            if ($("#SaveModel").val() == '') {
                $("#SaveModel").addClass('mandatory');
                valid = false;
            }
            else {
                $("#SaveModel").removeClass('mandatory');
            }
            return valid;
        });
    });

    function EditModalPopUp(MachineID) {
        try {
            $.ajax({
                url: '@Url.Content("~")Device/EditDeviceInfo',
                data: { MachineID: MachineID },
                dataType: 'json',
                type: 'POST',
                success: function (result) {
                    console.log(result);
                    debugger;
                    $("#IsNew").val('No');
                    $("#Manufacturer").val(result[0].Manufacturer);
                    $("#SaveModel").val(result[0].model);
                    $("#SaveMachineName").val(result[0].ComptuerName);
                    $("#FQDN").val(result[0].FQDN);
                    //   $("#FQDN").prop('disabled', true);
                    $("#RouteStatus").val(result[0].Status);
                },
                error: function (theError) {
                }
            });
            $('#myModal').modal('show');
            $('#exampleModalLabel').text("Edit a Device");
        }
        catch (e) {
        }
    }

    function AddModelPopUp() {
        $("#IsNew").val('Yes');
        $("#Manufacturer").val('');
        $("#SaveModel").val('');
        $("#SaveMachineName").val('');
        $("#FQDN").val('');
        $("#FQDN").prop('disabled', false);
        $("#RouteStatus").val('Ready To Onboard');
        $('#myModal').modal('show');
        $('#exampleModalLabel').text("Add a Device");
    }

    function ShowEnvModalPopUp(MachineId) {
        $("#SelectEnvironment option").prop('selected', false);
        $.ajax({
            url: '@Url.Content("~")Device/GetEnvironmentByDeviceId',
            data: { DeviceId: MachineId },
            dataType: 'json',
            type: 'POST',
            success: function (result) {
                if (result.result == true) {
                    var str = result.msg;
                    $("#HdnEnvironment").val(str);
                    var lst = new Array();
                    lst = str.split(",");

                    $.each(lst, function (i) {
                        console.log(lst[i].toString().trim());
                        $("#SelectEnvironment option[value='" + lst[i].toString().trim() + "']").prop('selected', true);
                    });

                    $("#HdnDeviceId").val(MachineId);
                    $('form').removeData('validator');
                    $('form').removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');
                    $("#myModal1").modal('show');
                }
            },
            error: function (theError) {
            }
        });
    }

    function ChangeActiveFlag(deviceid) {
        var active = '0';
        var act = $("#btnActive-" + deviceid).text().trim();
        console.log(act);
        if (act == "Yes")
            active = '1';
        else
            active = '0';

        $.ajax({
            url: '@Url.Content("~")Device/ChangeActiveFlag',
            data: { MachineID: deviceid, Active: active },
            dataType: 'json',
            type: 'POST',
            success: function (result) {
                if (result.result == true) {
                    if (act == "Yes") {
                        $("#btnActive-" + deviceid).removeClass("label-primary");
                        $("#btnActive-" + deviceid).addClass("label-danger");
                        $("#btnActive-" + deviceid).text("No");
                    }
                    else {
                        $("#btnActive-" + deviceid).removeClass("label-danger");
                        $("#btnActive-" + deviceid).addClass("label-primary");
                        $("#btnActive-" + deviceid).text("Yes");
                    }
                }
            },
            error: function (theError) {
            }
        });
    }

</script>