﻿/*********** Styles for Order List ***********/

.order-list-table > .tbody > td.order-detail-click {
    border-top: 1px solid #ddd;
}
.order-list-table td.accordion-item-detail {
    border-top: none !important;
}