﻿@model SLEAdminPortal.Models.RouteSecurity

<div class="form-group">
    <label>Environment</label>
    @Html.HiddenFor(m => m.EnvId)
    @Html.TextBoxFor(m => m.EnvName, new { @disabled = "disabled", @class = "form-control" })
</div>

<div class="form-group">
    <label><span style="color: #e25856;">*</span> Domain User</label>
    @Html.DropDownListFor(m => m.App_user_id, (SelectList)ViewData["User"], "-Select User-", new { @required = "required", @class = "form-control" })
    @Html.ValidationMessageFor(model => model.App_user_id, "Select User", new { @class = "text-danger" })
</div>

<div class="form-group">
    <label><span style="color: #e25856;">*</span> Route</label>
    @Html.DropDownListFor(m => m.RouteMasterID, (SelectList)ViewData["Route"], "-Select Route-", new { @required = "required", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.RouteMasterID, "Select Route", new { @class = "text-danger" })
</div>

<div class="form-group">
    <label><span style="color: #e25856;">*</span> Role</label>
    @Html.HiddenFor(m => m.EditRoleId)
    @Html.HiddenFor(m => m.EditRouteId)
    @Html.HiddenFor(m => m.EditUserId)
    @Html.DropDownListFor(m => m.RoleID, (SelectList)ViewData["Role"], "-Select Role-", new { @required = "required", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.RoleID, "Select Role", new { @class = "text-danger" })
</div>

<div class="form-group">
    <label>Effective From</label>
    @Html.TextBoxFor(m => m.EffectiveFrom, Model.EffectiveFrom.ToString("MM/dd/yyyy"), new { @required = "required", @class = "form-control date", @readonly = "readonly" })
    @Html.ValidationMessageFor(m => m.EffectiveFrom, "Select Effective From", new { @class = "text-danger" })
</div>

<div class="form-group">
    <label>Effective To</label>
    @Html.TextBoxFor(m => m.EffectiveTo, Model.EffectiveTo.ToString("MM/dd/yyyy"), new { @required = "required", @class = "form-control date", @readonly = "readonly" })
    @Html.ValidationMessageFor(m => m.EffectiveTo, "Select Effective To", new { @class = "text-danger" })
</div>

<style>
    #ui-datepicker-div {
        background: #ffffff;
        display: none;
        z-index: 9999;
        top:500px !important;
        left: 675px !important;
        width: 275px !important;
    }
</style>

<script>
    $(document).ready(function () {
        $("#EffectiveFrom").datepicker({            
            onSelect: function (selected) {             
                $("#EffectiveTo").datepicker("option", "minDate", selected)
            }
        });
        $("#EffectiveTo").datepicker({
            onSelect: function (selected) {

                $("#EffectiveFrom").datepicker("option", "maxDate", selected)
            }
        });
        $(function () {
            $('.date').datepicker({                
                autoclose: true,
                todayHighlight: true,
                dateFormat: 'mm/dd/yy',              
                changeMonth: true,
                yearRange: '1947:2079',
                prevText: '',
                nextText: ''
            });
        });
    });
</script>