﻿@model SLEAdminPortal.Models.RouteSecurityModels

<div class="ibox-title">
    <h5>
        Total Route Security : @if (@Model != null)
        { @Model.Route.Count }
        else
        { <span>0</span> }
    </h5>
    <div class="ibox-tools">
        <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
        </a>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-wrench"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a href="#">Config option 1</a>
            </li>
            <li>
                <a href="#">Config option 2</a>
            </li>
        </ul>
    </div>
</div>
<div class="ibox-content">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Domain User</th>
                <th>Route Name</th>                
                <th>Role Name</th>
                <th>Effective From</th>
                <th>Effective To</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (@Model != null)
            {
                for (int i = 1; i <= @Model.Route.Count; i++)
                {
                    <tr>
                        <td>@i</td>
                        <td>@Model.Route.ElementAt(i - 1).App_User</td>
                        <td>@Model.Route.ElementAt(i - 1).RouteName</td>
                        <td>@Model.Route.ElementAt(i - 1).RoleName</td>
                        <td>@Model.Route.ElementAt(i - 1).EffectiveFrom.ToString("MM/dd/yyyy")</td>
                        <td>@Model.Route.ElementAt(i - 1).EffectiveTo.ToString("MM/dd/yyyy")</td>
                        <td><button type="button" class="btn btn-primary" onclick="editModal(@Model.Route.ElementAt(i - 1).RouteMasterID, @Model.Route.ElementAt(i - 1).App_user_id, @Model.Route.ElementAt(i - 1).RoleID);">Edit</button></td>
                        <td><div class="form-group col-lg-12"> <a class="btn btn-danger" onclick="DeleteRecord(@Model.Route.ElementAt(i - 1).RouteMasterID, @Model.Route.ElementAt(i - 1).App_user_id, @Model.Route.ElementAt(i - 1).RoleID);">Delete</a> </div></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>