﻿@{
    ViewBag.Title = "Route Security";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div id="tabwhite" class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1">Route Security List</a></li>
                </ul>

                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <form role="form">
                                @*@using (Html.BeginForm())
                                    {*@
                                <div class="form-group col-lg-3">
                                    <label>Environment</label>
                                    @Html.DropDownList("EnvironmentId", (SelectList)ViewData["Environment"], new { @required = "required", @class = "form-control", @onchange = "searchRouteSecurity();" })
                                </div>
                                <div class="form-group col-lg-3"><label>Domain User</label>@Html.TextBox("UserName", null, new { @class = "form-control", @placeholder = "Domain User" })</div>
                                <div class="form-group col-lg-3"><label>Route Name</label>@Html.TextBox("RouteName", null, new { @class = "form-control", @placeholder = "RouteName" })</div>
                                <div class="form-group col-lg-3">
                                    <label>&nbsp;</label> <br />
                                    @*<button id="Search_Route" class="btn btn-primary" onchange="searchRouteSecurity();">
                                            Search
                                        </button>*@
                                    <div class="form-group col-lg-12"> <a class="btn btn-primary" onclick="searchRouteSecurity();">Search</a> </div>
                                </div>

                                <div class="form-group col-lg-12"> <a class="btn btn-primary" onclick="createModal()">Add New Route Security</a> </div>
                                @*}*@
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div id="updateDiv">

                </div>
            </div>
        </div>
    </div>
</div>

@* Modal For Create *@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Add New Route Security</h4>
            </div>
            @*@using (Html.BeginForm("Save", "RouteSecurity", FormMethod.Post, new { id = "SaveRouteSecurity" }))
            {*@
                <div class="modal-body">
                    <div id="createModal">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                </div>
            @*}*@
        </div>
    </div>
</div>

@* Modal For Edit *@
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Edit Route Security</h4>
            </div>
            @*@using (Html.BeginForm("Update", "RouteSecurity", FormMethod.Post, new { id = "UpdateRouteSecurity" }))
            {*@
                <div class="modal-body">
                    <div id="editModal">

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="btnUpdate">Update</button>
                </div>
            @*}*@
        </div>
    </div>
</div>

@* For Datepicker UI *@
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script type="text/javascript">

    $(function () {
        var msg = "@ViewBag.msg";
        if (msg != null && msg != "")
            alert(msg);
        
        var selEnv = "@ViewBag.SelectedEnv";
        if (selEnv != null && selEnv != "")
            $("#EnvironmentId").val(selEnv);

       
       
        //$("form#SaveRouteSecurity").submit(function () {
        //    var valid = true;
        //    if ($("#EffectiveFrom").val() > $("#EffectiveTo").val()) {
        //        valid = false;
        //        alert("Effective From Should Less Than Effective To");
        //    }
        //    return valid;
        //});

        //For Save
        $('#btnSave').on("click", function () {
           
            var App_User_ID = $('#App_user_id').val();
            var EnvID = $('#EnvId').val();
            var RoleID = $("#RoleID").val();         
            var RouteMasterID = $("#RouteMasterID").val();
            var EffectiveFrom = $("#EffectiveFrom").val();
            var EffectiveTo = $("#EffectiveTo").val();
            var valid = true;
            var FromDate = $("#EffectiveFrom").val();
            var month = FromDate.substring(0, 2);
            var date = FromDate.substring(3, 5);
            var year = FromDate.substring(6, 10);
            var FromDate1 = new Date(year, month - 1, date);
            var ToDate = $("#EffectiveTo").val();          
            if (FromDate1 > ToDate) {
                valid = false;
                alert("Effective From Date Should Less Than Effective To Date");
            }         
            if (App_User_ID == 0)
            {
                alert("Domain User Required");
                $("#App_user_id").focus();            
            }                          
             else if (RouteMasterID == 0) {
                 alert("Route is Required");
                 $("#RouteMasterID").focus();
             }
             else if (RoleID == 0) {
                 alert("Role is Required");
                 $("#RoleID").focus();
             }
             else {
                 var save = {
                     "App_user_id": App_User_ID,
                     "EnvId": EnvID,
                     "RoleID": RoleID,
                     "RouteMasterID": RouteMasterID,
                     "EffectiveFrom": EffectiveFrom,
                     "EffectiveTo":EffectiveTo
                 }
                 $.ajax({
                     url: '/RouteSecurity/Save/',
                     data: JSON.stringify(save),
                     type: 'POST',
                     contentType: 'application/json; charset=utf-8',
                     success: function (data) {
                         if (data.result == true) {
                             alert(data.msg);
                             $('#myModal').modal('hide');                       
                         $.ajax({
                             url: '../RouteSecurity/UpdateDiv/?envid=' + EnvID,
                             contentType: 'application/json;charset=utf-8',
                             type: 'GET',
                             cache: false,
                             success: function (result) {
                                 $("#updateDiv").html(result).show();
                             },
                             error: function (result) {
                             }
                         })
                         }
                         else
                         {
                             alert(data.msg);
                             $('#myModal').modal('hide');
                             $.ajax({
                                 url: '../RouteSecurity/UpdateDiv/?envid=' + EnvID,
                                 contentType: 'application/json;charset=utf-8',
                                 type: 'GET',
                                 cache: false,
                                 success: function (result) {
                                     $("#updateDiv").html(result).show();
                                 },
                                 error: function (result) {
                                 }
                             })
                         }
                     },
                     error: function (result) {
                         isSuccess = result;
                     }

                 })
             }
        });

      
        //For Update
          $('#btnUpdate').on("click",function () {
            var App_User_ID = $('#App_user_id').val();
            var EnvID = $('#EnvId').val();
            var RoleID = $("#RoleID").val();
            var EditRoleID = $("#EditRoleId").val();
            var RouteMasterID = $("#RouteMasterID").val();
            var EffectiveFrom = $("#EffectiveFrom").val();
            var EffectiveTo = $("#EffectiveTo").val();
            var valid = true;
            var FromDate = $("#EffectiveFrom").val();
            var month = FromDate.substring(0, 2);
            var date = FromDate.substring(3, 5);
            var year = FromDate.substring(6, 10);
            var FromDate1 = new Date(year, month - 1, date);
            var ToDate = $("#EffectiveTo").val();           
            if (FromDate1 > ToDate) {
                valid = false;
                alert("Effective From Date Should Less Than Effective To Date");
            }
            if (App_User_ID == 0) {
                alert("Domain User Required");
                $("#App_user_id").focus();
            } 
            else if (RouteMasterID == 0) {
                alert("Route is Required");
                $("#RouteMasterID").focus();
            }
            else if (RoleID == 0) {
                alert("Role is Required");
                $("#RoleID").focus();
            }
            else {
                var save = {
                    "App_user_id": App_User_ID,
                    "EnvId": EnvID,
                    "RoleID": RoleID,
                    "RouteMasterID": RouteMasterID,
                    "EffectiveFrom": EffectiveFrom,
                    "EffectiveTo": EffectiveTo,
                    "EditRoleId": EditRoleID,
                    "EditRouteID": RouteMasterID,
                    "EditUserID":App_User_ID
                }
                $.ajax({
                    url: '/RouteSecurity/Update/',
                    data: JSON.stringify(save),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if(data.result = true){
                        $('#myModal1').modal('hide');
                        alert(data.msg);
                        $.ajax({
                            url: '../RouteSecurity/UpdateDiv/?envid=' + EnvID,                       
                            contentType: 'application/json;charset=utf-8',
                            type: 'GET',
                            cache: false,
                            success: function (result) {
                                $("#updateDiv").html(result).show();
                            },
                            error: function (result) {
                            }
                        })
                        }
                        else
                        {                            
                                $('#myModal1').modal('hide');
                                alert(data.msg);
                                $.ajax({
                                    url: '../RouteSecurity/UpdateDiv/?envid=' + EnvID,
                                    contentType: 'application/json;charset=utf-8',
                                    type: 'GET',
                                    cache: false,
                                    success: function (result) {
                                        $("#updateDiv").html(result).show();
                                    },
                                    error: function (result) {
                                    }
                                })                       
                        }
                    },
                    error: function (result) {
                        isSuccess = result;
                    }

                })
            }
        });
    
        //$("form#SaveRouteSecurity").submit(function () {
           
        //    var valid = true;
        //    var FromDate = $("#EffectiveFrom").val();
        //    var month = FromDate.substring(0, 2);
        //    var date = FromDate.substring(3, 5);
        //    var year = FromDate.substring(6, 10);
        //    var FromDate1 = new Date(year, month - 1, date);
        //    var ToDate = $("#EffectiveTo").val();
        //    if (FromDate1 > ToDate) {
        //        valid = false;
        //        alert("Effective From Date Should Less Than Effective To Date");
        //    }
        //    return valid;
        //});       
    

        //$("form#UpdateRouteSecurity").submit(function () {
        //    var valid = true;
        //    if ($("#EffectiveFrom").val() > $("#EffectiveTo").val()) {
        //        valid = false;
        //        alert("Effective From Should Less Than Effective To");
        //    }

        //    return valid;
        //});

        searchRouteSecurity();
    });

    //Search Route Security
    function searchRouteSecurity() {
        var envId = $("#EnvironmentId").val();
        var RouteName = $("#RouteName").val();
        var UserName = $("#UserName").val();
        $("#updateDiv").html(null).show();
        $.ajax({
            url: '../RouteSecurity/RouteSecurityIndex/?EnvId=' + envId + '&RouteName=' + RouteName + '&UserName=' + UserName,
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            datatype: 'html',
            cache: false,
            success: function (result) {
                $("#updateDiv").html(result).show();
            },
            error: function (result) {
            }
        });
    }


    //Create Route Security
    function createModal() {
        var envId = $("#EnvironmentId").val();
        var envName = $("#EnvironmentId :selected").text();

        $.ajax({
            url: '../RouteSecurity/Create/?EnvId=' + envId + '&EnvName=' + envName,
            contenttype: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html'
        })
        .success(function (result) {
            $("#createModal").html(result);
            $('form').removeData('validator');
            $('form').removeData('unobtrusiveValidation');
            $.validator.unobtrusive.parse('form');
            $("#myModal").modal('show');
        });
    }

    //Edit Route Security
    function editModal(route, user, role) {
        var envId = $("#EnvironmentId").val();
        var envName = $("#EnvironmentId :selected").text();

        $.ajax({
            url: '../RouteSecurity/Edit/?route=' + route + '&user=' + user + '&role=' + role + '&EnvId=' + envId + '&EnvName=' + envName,
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            datatype: 'html',
            cache: false,
            success: function (result) {
                $("#editModal").html(result);
                $('form').removeData('validator');
                $('form').removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse('form');
                $("#myModal1").modal('show');
            },
            error: function (result) {
            }
        });
    }

    //Delete Route Security
    function DeleteRecord(route, user, role) {
        if (confirm("Are you sure you want to delete this row?")) {
            var envId = $("#EnvironmentId").val();       
            $.ajax({
                url: '../RouteSecurity/Delete/?route=' + route + '&user=' + user + '&role=' + role + '&EnvId=' + envId,
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                cache: false,
                success: function (data) {
                    if (data.result == true) {
                        alert("Record Deleted");
                        //$("#updateDiv").load('/RouteSecurity/UpdateDiv');
                        $.ajax({
                            url: '../RouteSecurity/UpdateDiv/?envid=' + envId,
                            contentType: 'application/json;charset=utf-8',
                            type: 'GET',
                            cache: false,
                            success: function (result) {
                                $("#updateDiv").html(result).show();
                            },
                            error: function (result) {
                            }
                        })
                        //  window.location.reload();
                    }
                    else
                    {
                        alert(data.msg);
                        //$("#updateDiv").load('/RouteSecurity/UpdateDiv');
                        $.ajax({
                            url: '../RouteSecurity/UpdateDiv/?envid=' + envId,
                            contentType: 'application/json;charset=utf-8',
                            type: 'GET',
                            cache: false,
                            success: function (result) {
                                $("#updateDiv").html(result).show();
                            },
                            error: function (result) {
                            }
                        })
                    }
                },
                error: function (result) {
                }
            });
        }
    }
</script>
