﻿@model SLEAdminPortal.Models.Environmentmaster
@using (Html.BeginForm("Update", "Environment", FormMethod.Post))
{

    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="recipient-name" class="control-label"><big>Environment Name:</big></label>
                    <text class="form-control" readonly>@Model.EnvName</text>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="recipient-name" class="control-label"><big>Environment Description:</big></label>
                    <text class="form-control" readonly>@Model.EnvDescription</text>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="recipient-name" class="control-label"><big>Release Level:</big></label>
                    <text class="form-control" readonly>@Model.ReleaseLevel</text>

                </div>
            </div>
        </div>
    </div>
    <div>
        <label>&nbsp;</label>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="recipient-name" class="control-label"><big>MLServer Address:</big></label>
                    <label class="control-label">@Model.MLServerAddress</label>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="recipient-name" class="control-label"><big>JDE Address:</big></label>
                    <label class="control-label">@Model.JDEWSAddress</label>

                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label for="recipient-name" class="control-label"><big>REFDB Address:</big></label>
                    <label class="control-label">@Model.REFDBAddress</label>
                </div>
            </div>
        </div>
    </div>
    <div>
        <label>&nbsp;</label>
        <label>&nbsp;</label>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="recipient-name" class="control-label"><big>ENVDB Address</big>:</label>
                    <label class="control-label">@Model.ENVDBAddress</label>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="recipient-name" class="control-label"><big>CDB Address:</big></label>
                    <label class="control-label">@Model.CDBAddress</label>

                </div>
            </div>


            <div class="form-group">
                <div class="col-lg-4">
                    <label for="recipient-name" class="control-label"><big>CDB ConKey:</big></label>
                    <text class="form-control" readonly>@Model.CDBConKey</text>

                </div>
            </div>
        </div>
    </div>
    <div>
        <label>&nbsp;</label>
        <label>&nbsp;</label>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="recipient-name" class="control-label"><big>IIS Address:</big></label>
                    <label class="control-label">@Model.IISAddress</label>

                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label for="recipient-name" class="control-label"><big>RDBScript Location:</big></label>
                    <label class="control-label">@Model.RDBScriptLocation</label>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="recipient-name" class="control-label"><big>TaxLib Location:</big></label>
                    <label class="control-label">@Model.TaxLibLocation</label>
                </div>
            </div>
        </div>
    </div>
    <div>
        <label>&nbsp;</label>
        <label>&nbsp;</label>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="col-lg-8">
                <div class="form-group">
                    <label for="recipient-name" class="control-label"><big>AppInstaller Location:</big></label>

                    <textarea class="form-control" readonly>@Model.AppInstallerLocation</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <div class="col-lg-8">
                <div class="form-group">
                    <label for="recipient-name" class="control-label">Portal ConnectionString:</label>
                    <textarea class="form-control" readonly>@Model.PortalConnectionString</textarea>
                </div>
            </div>
        </div>
    </div>




    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
}

