﻿@{
    ViewBag.Title = "Environment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SLEAdminPortal.Models.EnvironmentModels

<script type="text/javascript">

</script>

<div class="wrapper wrapper-content animated fadeInRight">
    <div id="tabwhite" class="row">
        <div class="col-lg-12">
            @* <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1">Environment List</a></li>

                    </ul>

                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <form role="form">
                                @*    <div class="form-group col-lg-12"> <a data-toggle="modal" class="btn btn-primary" data-target="#myModal">Add  New Environment</a> </div>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>*@
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Total Environment:@if (Model != null)
                    { @Model.EnvironmentList.Count}
                    else
                    {<span>0</span>}</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="ibox-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Environment ID</th>
                                <th>Environment Name</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model != null)
                            {
                                for (int i = 1; i <= @Model.EnvironmentList.Count; i++)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td width="250">@Model.EnvironmentList.ElementAt(i - 1).EnvironmentMasterId</td>
                                        <td width="200">@Model.EnvironmentList.ElementAt(i - 1).EnvName</td>
                                        <td><div class="form-group col-lg-12"> <a data-toggle="modal" class=" btn btn-primary" onclick="EditEnvironment('@Model.EnvironmentList.ElementAt(i - 1).EnvironmentMasterId')">View</a> </div></td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="View-Environment-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg custom-env-model-dialog" role="document">
        <div class="modal-content custom-env-model-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Environment Details</h4>
            </div>
            <div class="modal-body">

                <div id="contaior-View-Enviroment">


                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function EditEnvironment(findval) {
        $.ajax({
            url: '../Environment/ViewList/?id=' + findval + '',
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            datatype: 'html',
            cache: false,
            success: function (result) {
                //console.log(result);
                $('#contaior-View-Enviroment').html(result);
                $('#View-Environment-popup').modal('show');
            },
            error: function (result) {
            }
        });
    }
</script>
<style>
    .custom-env-model-dialog {
        width: 75% !important;
    }


    .custom-env-model-content {
        margin-top: 10% !important;
    }
</style>
