﻿@{
    ViewBag.Title = "Devices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SLEAdminPortal.Models.DeviceModels

<style>
    .mandatory {
        border: 1px solid red;
    }
</style>
<script type="text/javascript">
    $(function () {
        $("form#SaveDevice").submit(function () {
            var valid = true;
            if ($("#SelectEnvironment").val() == '') {
                $("#SelectEnvironment").addClass('mandatory');
                valid = false;
            }
            else {
                $("#SelectEnvironment").removeClass('mandatory');
            }
            return valid;
        });
    });
    function EditModalPopUp(MachineID) {
        try {
            $.ajax({
                url: '@Url.Content("~")Dashboard/EditDeviceInfo',
                data: { MachineID: MachineID },
                dataType: 'json',
                type: 'POST',
                success: function (result) {
                    debugger;
                    $("#Manufacturer").val(result[0].Manufacturer);
                    $("#MachineID").val(MachineID);
                    $("#MachineID").prop('disabled', true);
                    $("#SelectEnvironment").val(result[0].Environment);
                    $("#SelectEnvironment").prop('disabled', true);
                    $("#RouteStatus").val(result[0].Status);
                },
                error: function (theError) {
                }
            });
            $('#myModal').modal('show');
            $('#exampleModalLabel').text("Edit a Device");
        }
        catch (e) {
        }
    }
    function AddModelPopUp() {
        $("#Manufacturer").val('');
        $("#MachineID").val('');
        $("#MachineID").prop('disabled', false);
        $("#SelectEnvironment").val('');
        $("#SelectEnvironment").prop('disabled', false);
        $("#RouteStatus").val('Ready To Onboard');
        $('#myModal').modal('show');
        $('#exampleModalLabel').text("Add a Device");
    }
</script>

<div class="wrapper wrapper-content animated fadeInRight">
    <div id="tabwhite" class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1">Device Information</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3">Sync Information</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <form role="form" id="Search">
                                @using (Html.BeginForm())
                                {
                                    <div class="form-group col-lg-3"><label>Device ID</label> @Html.TextBox("DeviceID", null, new { @name = "DeviceID", @class = "form-control", @placeholder = "Device ID" })</div>
                                    <div class="form-group col-lg-3"><label>Machine Name</label>@Html.TextBox("MachineName", null, new { @name = "MachineName", @class = "form-control", @placeholder = "Machine Name" })</div>
                                    <div class="form-group col-lg-3"><label>Environment</label>@Html.TextBox("Environment", null, new { @name = "Environment", @class = "form-control", @placeholder = "Environment" })</div>
                                    <div class="form-group col-lg-3">
                                        <label>&nbsp;</label> <br />
                                        <button class="btn btn-primary" type="submit">
                                            Search
                                        </button>
                                    </div>
                                }
                                <div class="form-group col-lg-12"> <a id="Title" data-toggle="modal" class="btn btn-primary" onclick="AddModelPopUp()">Add  New Device</a> </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Total Devices : @Model.Devices.Count </h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                <i class="fa fa-wrench"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-user">
                                                <li>
                                                    <a href="#">Config option 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Config option 2</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Machine Name</th>
                                                    <th>Machine ID</th>
                                                    <th>Environment</th>
                                                    <th>Status </th>
                                                    <th>Route</th>
                                                    <th>Active</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 1; i <= @Model.Devices.Count; i++)
                                                {
                                                    <tr>
                                                        <td>@i</td>
                                                        <td>@Model.Devices.ElementAt(i - 1).MachineName</td>
                                                        <td>@Model.Devices.ElementAt(i - 1).MachineID</td>
                                                        <td>@Model.Devices.ElementAt(i - 1).Environment</td>
                                                        <td>@Model.Devices.ElementAt(i - 1).Status</td>
                                                        <td>@Model.Devices.ElementAt(i - 1).Route</td>
                                                        <td id="lablebut">
                                                            @if (@Model.Devices.ElementAt(i - 1).Active == 1)
                                                            {
                                                                <button type="submit" class="label label-primary"
                                                                        onclick="location.href='@Url.Action("ChangeActiveFlag", "Dashboard", new { @Model.Devices.ElementAt(i - 1).MachineID, @Model.Devices.ElementAt(i - 1).Active })'">
                                                                    Yes
                                                                </button>
                                                            }
                                                            else
                                                            {
                                                                <button type="submit" class="label label-danger"
                                                                        onclick="location.href='@Url.Action("ChangeActiveFlag", "Dashboard", new { @Model.Devices.ElementAt(i - 1).MachineID, @Model.Devices.ElementAt(i - 1).Active })'">
                                                                    No
                                                                </button>
                                                            }
                                                        </td>
                                                        <td>
                                                            <div class="form-group col-lg-12"> 
                                                            <a data-toggle="modal" class="btn btn-primary" id="EditTitle" onclick="EditModalPopUp('@Model.Devices.ElementAt(i - 1).MachineID')">Edit
                                                                </a> </div>
                                                        </td>
                                                        @if (@Model.Devices.ElementAt(i - 1).Status == "Onboarded")
                                                        {
                                                            <td>
                                                                <button type="submit" class="btn btn-primary"
                                                                        onclick="location.href='@Url.Action("DeviceDeregister", "Dashboard",new {@Model.Devices.ElementAt(i - 1).MachineID,@Model.Devices.ElementAt(i - 1).Route})'">
                                                                    Deregister
                                                                </button>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td><button type="button" class="btn btn-primary disabled">Deregister</button></td>
                                                        }

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            -- To Do -- 
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Add New Device</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SaveDevice", "Dashboard", FormMethod.Post, new { id = "SaveDevice" }))
                {
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Machine Name</label>
                        @Html.TextBox("Manufacturer", null, new { @class = "form-control", @placeholder = "Machine Name" })
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="control-label"> Machine ID</label>
                        @Html.TextBox("MachineID", null, new { @class = "form-control", @placeholder = "Machine ID" })
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Environment</label> <br />
                        @Html.DropDownList("SelectEnvironment", new SelectList(@Model.Environment, "Value", "Text"), "Select", new { @class = "form-control", style = "width:350px;" })
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label"> Status :</label>
                        @Html.TextBox("RouteStatus", "Ready To Onboard", new { @class = "form-control", @placeholder = "Status", @readonly = "readonly" })
                    </div>
                    <br />
                    <div class="text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
