﻿@model SLEAdminPortal.Models.User

<input type="hidden" class="form-control" id="App_User_ID" name="App_User_ID" value="@Model.App_user_id">

<div class="form-group">
    <label for="recipient-name" class="control-label"><span style="color: #e25856;">*</span>NTUser:</label>
    @Html.EditorFor(model => model.NTUser, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.NTUser, "NTUser ID is Required", new { @class = "text-danger" })
</div>
<div class="form-group">
    <label for="recipient-name" class="control-label"><span style="color: #e25856;">*</span>First Name:</label>
    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.FirstName, "First Name is Required", new { @class = "text-danger" })
    @*<input type="text" class="form-control"  id="Name" name="Name" value="@Model.Name">*@
</div>
<div class="form-group">
    <label for="recipient-name" class="control-label"><span style="color: #e25856;">*</span>Last Name:</label>
    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.LastName, "Last Name is Required", new { @class = "text-danger" })
</div>
<div class="form-group">
    <label for="recipient-name" class="control-label"><span style="color: #e25856;">*</span>Display Name:</label>
    @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.DisplayName, "Display Name is Required", new { @class = "text-danger" })
</div>
<div class="form-group">
    <label for="recipient-name" class="control-label"><span style="color: #e25856;">*</span>Title:</label>
    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Title, "Title is Required", new { @class = "text-danger" })
</div>
<div class="form-group">
    <label for="message-text" class="control-label"><span style="color: #e25856;">*</span>Domain User :</label>
    @Html.EditorFor(model => model.Domain, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Domain, "Domanin User is Required", new { @class = "text-danger" })
    @*<input type="text" class="form-control"  id="DomainUser" name="DomainUser" value="@Model.DomainUser">*@
</div>
<div class="form-group">
    <label for="message-text" class="control-label"><span style="color: #e25856;">*</span>Email :</label>
    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Email, "Email is Required", new { @class = "text-danger" })
    @*<input type="text" class="form-control"  id="DomainUser" name="DomainUser" value="@Model.DomainUser">*@
</div>
<div class="form-group">
    <label for="message-text" class="control-label"><span style="color: #e25856;">*</span>Phone :</label>
    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Phone, "Phone# is Required", new { @class = "text-danger" })
    @*<input type="text" class="form-control"  id="DomainUser" name="DomainUser" value="@Model.DomainUser">*@
</div>


