﻿@model SLEAdminPortal.Models.UserModel
@using SLEAdminPortal.Models;
@using SLEAdminPortal.Controllers;
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["notice"] != null)
{
    <p>@TempData["notice"]</p>
}

<script type="text/javascript">
</script>
<div class="wrapper wrapper-content animated fadeInRight">
    <div id="tabwhite" class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <form role="form">
                                @using (Html.BeginForm())
                                {
                                    <div class="form-group col-lg-3"><label>User ID</label> @Html.TextBox("UserID", null, new { @class = "form-control", @placeholder = "User ID" })</div>
                                    <div class="form-group col-lg-3"><label>Name</label>@Html.TextBox("Names", null, new { @class = "form-control", @placeholder = "Name" })</div>
                                    <div class="form-group col-lg-3"><label>Domain User Name</label>@Html.TextBox("DomainUserName", null, new { @class = "form-control", @placeholder = "Domain User Name" })</div>
                                    <div class="form-group col-lg-3">
                                        <label>&nbsp;</label> <br />
                                        <button id="Search_Device" type="submit" class="btn btn-primary">
                                            Search
                                        </button>
                                    </div>
                                }
                                <div class="form-group col-lg-12"> <a data-toggle="modal" class="btn btn-primary" data-target="#myModal">Add New User</a> </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>
                                Total Users :@if (Model != null)
                                { @Model.Users.Count}
                                else
                                {<span>0</span>}
                            </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li>
                                            <a href="#">Config option 1</a>
                                        </li>
                                        <li>
                                            <a href="#">Config option 2</a>
                                        </li>
                                    </ul>*@
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th hidden="hidden">AppUserID</th>
                                        <th>User ID</th>
                                        <th>Name</th>
                                        <th>Domain User Name</th>
                                        @*<th>Email</th>*@
                                        @*<th>Phone</th>*@
                                        <th>Environment</th>
                                        <th>Environment Mapping</th>
                                        @*<th>Version Number</th>
                                        <th>Released Date</th>*@
                                        <th>Active</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        for (int i = 1; i <= Model.Users.Count; i++)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td hidden="hidden">@Model.Users.ElementAt(i - 1).App_user_id</td>
                                                <td>@Model.Users.ElementAt(i - 1).NTUser</td>
                                                <td>@Model.Users.ElementAt(i - 1).DisplayName</td>
                                                <td>@Model.Users.ElementAt(i - 1).Domain</td>
                                                @*<td>@Model.Users.ElementAt(i-1).Email</td>*@
                                                @*<td>@Model.Users.ElementAt(i-1).Phone</td>*@
                                                <td>
                                                    <div class="form-group col-lg-6">
                                                        @Html.Nl2Br(Model.Users.ElementAt(i - 1).Environment)
                                                    </div>
                                                </td>
                                                <td>
                                                    <a data-toggle="modal" class="fa fa-link fa-1x" id="EnviList" onclick="ShowEnvModalPopUp('@Model.Users.ElementAt(i - 1).App_user_id')">
                                                        Map Environment
                                                    </a>
                                                </td>
                                                @*<td>@Model.Users.ElementAt(i - 1).VersionNumber</td>
                                                <td>@Model.Users.ElementAt(i - 1).ReleasedDate</td>*@
                                                <td id="lablebut">
                                                    @if (@Model.Users.ElementAt(i - 1).Active == 1)
                                                    {
                                                        <button type="submit" class="label label-primary" id="btnActive-@Model.Users.ElementAt(i - 1).NTUser"
                                                                onclick="ToggleActive('@Model.Users.ElementAt(i - 1).NTUser')">
                                                            Yes
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button type="submit" class="label label-danger" id="btnActive-@Model.Users.ElementAt(i - 1).NTUser"
                                                                onclick="ToggleActive('@Model.Users.ElementAt(i - 1).NTUser')">
                                                            No
                                                        </button>
                                                    }
                                                </td>
                                                <td width="50"><div class="form-group col-lg-12"><a data-toggle="modal" class="btn btn-primary" data-target="#Edit-user-model" onclick="EditUser('@Model.Users.ElementAt(i-1).App_user_id')">Edit</a></div></td>
                                                <td width="50"><div class="form-group col-lg-9"><a data-toggle="modal" class="btn btn-danger" onclick="Deletethisrecord('@Model.Users.ElementAt(i-1).App_user_id')">Delete</a> </div></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Add New User</h4>
            </div>
            @using (Html.BeginForm("SaveUser", "UserMaster", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label"> <span style="color: #e25856;">*</span>NTUser:</label>
                        @Html.EditorFor(model => model.NTUser, new {id="NTUser", htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NTUser, "NTUser ID is required or NTUser already exists", new { id = "duplicate-validation-app-userid", @class = "text-danger" })                                       
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label"><span style="color: #e25856;">*</span>First Name:</label>
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "First Name is required", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label"><span style="color: #e25856;">*</span>Last Name:</label>
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "Last Name is required", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label"><span style="color: #e25856;">*</span>Display Name:</label>
                        @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DisplayName, "Display Name is required", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label"><span style="color: #e25856;">*</span>Title:</label>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "Title is required", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="recipient-name" class="control-label"><span style="color: #e25856;">*</span>Phone:</label>
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new {id="Phone", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "Phone# is required", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label"><span style="color: #e25856;">*</span>Email ID:</label>
                        @Html.EditorFor(model => model.Email, new {id="Email", htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "Email is required or Please Enter Valid Email Address", new { id = "invalidEmailError", @class = "text-danger" })
                        @*@Html.ValidationMessageFor(model => model.Email, "Email already exists", new {  @class = "text-danger" })*@
                        
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label"><span style="color: #e25856;">*</span>Domain User:</label>
                        @Html.EditorFor(model => model.Domain, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Domain, "Domain User Name is required", new { @class = "text-danger" })                       
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" id="btnSave" class="btn btn-primary">Save</button>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

<div class="modal fade" id="Edit-user-model" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Edit User</h4>
            </div>
            @using (Html.BeginForm("UpdateUser", "UserMaster", FormMethod.Post))
            {
                <div class="modal-body">
                    <div id="container-edit-user-popup">


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnUpdate" class="btn btn-primary">Update</button>
                </div>
            }
        </div>
    </div>
</div>


<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Select Environment</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SaveEnvironment", "UserMaster", FormMethod.Post, new { id = "SaveEnvironment" }))
                {
                    <div class="form-group">
                        <label>Environment</label>
                        @Html.Hidden("HdnAppUserId", "")
                        @Html.Hidden("HdnEnvironment", "");
                        @Html.ListBox("SelectEnvironment", (SelectList)ViewData["Environment"], new { @class = "form-control", style = "width:350px;" })
                        @Html.ValidationMessageFor(model => model.Environment, "Select Environment", new { @class = "text-danger" })
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        $('#myModal').on('hidden.bs.modal', function () {
            $('.modal-body').find('textarea,input').val('');
            //      $('.field-validation-error').text("")
            //       $('.focus :input').focus();
        });

        $('#NTUser').on('blur', function () {
            checkforDuplicateAppUser();
        });

        $('#Email').on('blur', function () {
            EmailValid();
        });
        $('#Phone').keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });



    });

    function EmailValid()
    {
        var sEmail = $('#Email').val();
        validateEmail(sEmail);          
    }

    function validateEmail(sEmail) {
        debugger;
        var filter = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (filter.test(sEmail)) {
            $('#invalidEmailError').hide();
            return true;
        }
        else {
            $('#invalidEmailError').show();
            $('#Email').focus();

            return false;
        }
    }

    function EditUser(findval) {
        $.ajax({
            url: '../UserMaster/EditUser/',
            data: ({ App_user_id: findval }),
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            cache: false,
            success: function (result) {
                $('#container-edit-user-popup').html(result);
                $('form').removeData('validator');
                $('form').removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse('form');
                $('#Edit-user-model').modal('show');
            },
            error: function (result) {
            }
        });
    }

    function Deletethisrecord(findval) {


        if (confirm("Are you sure you want to delete this row?")) {
            var EnvironmentMasterId;

            $.ajax({
                url: '../UserMaster/DeleteUser/?App_user_id=' + findval + '',
                contentType: 'application/json; charset=utf-8',
                type: 'POST',
                cache: false,
                success: function (result) {
                    window.location.reload();
                },
                error: function (result) {
                }
            });
        }
    }

    function GetAppUserId(findval) {
        $.ajax({
            url: '../UserMaster/EditUser/',
            data: ({ App_user_id: findval }),
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            datatype: 'html',
            cache: false,
            success: function (result) {

            },
            error: function (result) {

            }
        });
    }

    function checkforDuplicateAppUser() {
        $('#duplicate-validation-app-userid').hide()
        var App_User = $('#NTUser').val();
        $.ajax({
            url: '../UserMaster/checkDuplicateAppUser/?App_User=' + App_User + '',
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: 'json',
            cache: false,
            success: function (result) {
                if (result != "0") {
                    $('#duplicate-validation-app-userid').show()//("AppUser Id already Exists");
                    $("#NTUser").focus();
                    $("#btnSave").attr('disabled', 'disabled');

                }
                else {
                    $("#btnSave").removeAttr('disabled');
                    return;
                }
            },
            error: function (result) {
            }
        });
    }







    function checkforDuplicateEmail() {
        $('#duplicate-validation-email').hide()
        var Email = $('#Email').val();
        $.ajax({
            url: '../UserMaster/CheckDuplicateEmail/?Email=' + Email + '',
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: 'json',
            cache: false,
            success: function (result) {
                if (result != "0") {

                    $('#duplicate-validation-email').show()//("Email  already Exists");
                    $("#Email").focus();

                    $("#btnSave").attr('disabled', 'disabled');
                }
                else {
                    $("#btnSave").removeAttr('disabled');
                    return;
                }

            },

            error: function (result) {
            }



        });
    }


    function ToggleActive(appuser) {
        var active = '0';
        var act = $("#btnActive-" + appuser).text().trim();
        console.log(act);
        if (act == "Yes")
            active = '1';
        else
            active = '0';

        $.ajax({
            url: '@Url.Content("~")UserMaster/ToggleActive',
            data: { App_User: appuser, Active: active },
            dataType: 'json',
            type: 'POST',
            success: function (result) {
                if (result.result == true) {
                    if (act == "Yes") {
                        $("#btnActive-" + appuser).removeClass("label-primary");
                        $("#btnActive-" + appuser).addClass("label-danger");
                        $("#btnActive-" + appuser).text("No");
                    }
                    else {
                        $("#btnActive-" + appuser).removeClass("label-danger");
                        $("#btnActive-" + appuser).addClass("label-primary");
                        $("#btnActive-" + appuser).text("Yes");
                    }
                }
                else {
                    alert("Failed To Update Active Status");
                }
            },
            error: function (theError) {
                alert("Failed To Update Active Status");
            }
        });
    }

    function ShowEnvModalPopUp(AppUserID) {

        $("#SelectEnvironment option").prop('selected', false);
        $.ajax({
            url: '@Url.Content("~")UserMaster/GetEnvironmentByAppUserId',
            data: { AppUserID: AppUserID },
            dataType: 'json',
            type: 'POST',
            success: function (result) {
                if (result.result == true) {
                    var str = result.msg;
                    $("#HdnEnvironment").val(str);
                    var lst = new Array();
                    lst = str.split(",");

                    $.each(lst, function (i) {
                        console.log(lst[i].toString().trim());
                        $("#SelectEnvironment option[value='" + lst[i].toString().trim() + "']").prop('selected', true);
                    });

                    $("#HdnAppUserId").val(AppUserID);
                    $('form').removeData('validator');
                    $('form').removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');
                    $("#myModal1").modal('show');
                }
            },
            error: function (theError) {
                alert(theError)
            }
        });
    }

</script>
