﻿@model SLEAdminPortal.Models.ServiceModel
@using SLEAdminPortal.Models;



<div class="ibox-title">
    <h5>
        Total Configurations :@if (Model.EmailConfigDetails != null)
        { @Model.EmailConfigDetails.Count}
        else
        {<span>0</span>}
    </h5>
    <div class="ibox-tools">
        <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
</div>
<div class="ibox-content">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Email Group Name</th>
                <th hidden>ID</th>
                <th style="text-align:center;">To Recipients</th>
                <th>Cc Recipients</th>
                @*<th>FQDN</th>*@
            </tr>
        </thead>
        <tbody>
            @if (Model.EmailConfigDetails != null)
            {
                if (@Model.EmailConfigDetails.Count == 0)
                {

                    <tr>
                        <td colspan="5" class="responseMsg">No Records to Display.!</td>
                    </tr>
                }
                for (int i = 1; i <= @Model.EmailConfigDetails.Count; i++)
                {
                    <tr>
                        <td>@i</td>
                        <td>@Model.EmailConfigDetails.ElementAt(i - 1).GroupEmailName</td>
                        <td hidden>@Model.EmailConfigDetails.ElementAt(i - 1).ID</td>
                        <td style="word-wrap:break-word;table-layout:fixed;word-break:break-all;text-align:center;">
                            @Model.EmailConfigDetails.ElementAt(i - 1).ToRecipients
                        </td>
                        <td style="word-wrap:break-word;table-layout:fixed">@Model.EmailConfigDetails.ElementAt(i - 1).CcRecipients</td>
                        <td id="lablebut">
                            <button type="submit" id="btnActive-@Model.EmailConfigDetails.ElementAt(i - 1).ID" onclick="EditEmailConfigDetails('@Model.EmailConfigDetails.ElementAt(i - 1).ID')" class="btn btn-primary">
                                Edit
                            </button>

                        </td>

                        <td>
                            <div class="form-group col-lg-12">
                                <a data-toggle="modal" class="btn btn-danger" onclick="DeleteEmailConfigDetails('@Model.EmailConfigDetails.ElementAt(i - 1).ID')" id="Delete-@Model.EmailConfigDetails.ElementAt(i - 1).ID">
                                    Delete
                                </a>
                            </div>
                        </td>

                    </tr>
                }

            }
            else
            {
                <tr>
                    <td colspan="5" class="responseMsg">No Records to Display.!</td>
                </tr>
            }
        </tbody>
    </table>
</div>
