﻿@model SLEAdminPortal.Models.ServiceModel
@using SLEAdminPortal.Models;



<div class="ibox-title">
    <h5>
        Total Schedule :@if (Model.ImmediateServices != null)
        { @Model.ImmediateServices.Count}
        else
        {<span>0</span>}

    </h5>
    <div class="ibox-tools">
        <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
</div>
<div class="ibox-content">
    <table class="table">
        <thead>

            <tr>
                <th>#</th>
                <th>Job Name</th>
                <th hidden>ID</th>
                <th>Environment</th>
                <th>Created Date\Time</th>
                <th>Executed Date\Time</th>
                <th>Status</th>
                @*<th>FQDN</th>*@
            </tr>
        </thead>
        <tbody>
           @if (Model.ImmediateServices != null)
           { 
            if (@Model.ImmediateServices.Count == 0)
            {
                <tr>
                    <td colspan="5" class="responseMsg">No Records to Display.!</td>
                </tr>
            }
            for (int i = 1; i <= @Model.ImmediateServices.Count; i++)
            {
                <tr>
                    <td>@i</td>
                    <td>@Model.ImmediateServices.ElementAt(i - 1).JobName</td>
                    <td hidden>@Model.ImmediateServices.ElementAt(i - 1).JobID</td>
                    <td>@Model.ImmediateServices.ElementAt(i - 1).EnvironmentName</td>
                    <td>@Model.ImmediateServices.ElementAt(i - 1).CreatedDateTime</td>
                    <td>@Model.ImmediateServices.ElementAt(i - 1).UpdatedDateTime</td>
                    <td>@Model.ImmediateServices.ElementAt(i - 1).ScheduleStatus</td>
                </tr>
            }
            }
            else
           {
                 <tr>
                    <td colspan="5" class="responseMsg">No Records to Display.!</td>
                </tr>
           }
        </tbody>
    </table>
</div>

