﻿
@model SLEAdminPortal.Models.ServiceModel
<table class="table order-item-detail-partialView-table" style=" width: 100%;">
    <thead>
        <tr>
            <th>Job Name</th>
            <th>Module Name</th>
            @*<th>Dependency</th>
            <th>Email Notification</th>*@
            @*<th>Dependency</th>
                <th>Email Notification</th>
                <th style="text-align:right; align-content:center; width:15%;">Email Group</th>*@

        </tr>
    </thead>
    <tbody>
        @if (@Model.ImmediateServices.Count == 0)
        {
            <tr>
                <td colspan="5" class="responseMsg">No Records to Display.!</td>
            </tr>
        }
        @for (int i = 1; i <= @Model.ImmediateServices.Count; i++)
        {
            <tr>
                <td>@Model.ImmediateServices[i - 1].JobName</td>
                <td>@Model.ImmediateServices[i - 1].ModuleName</td>
                @*<td>@Model.ImmediateServices[i - 1].Dependency</td>
                <td>@Model.ImmediateServices[i - 1].EmailNotification</td>*@
                @*<td>@Model.JobDetails.ElementAt(i - 1).ModuleSequences[j].Dependency</td>
                     <td>@Model.JobDetails.ElementAt(i - 1).ModuleSequences[j].EmailNotification</td>
                    <td>@Model.JobDetails.ElementAt(i-1).ModuleSequences[j].EmailAddress</td>*@
            </tr>
        }
    </tbody>
</table>
