﻿
@model SLEAdminPortal.Models.ServiceModel
<table class="table order-item-detail-partialView-table" style=" width: 100%;">
    <thead>
        <tr>
            <th>Sequence No</th>
            <th>Module Name</th>
            <th>Dependency</th>
            <th>Email Notification</th>
            <th>Email Group</th>
            @*<th>Dependency</th>
            <th>Email Notification</th>
            <th style="text-align:right; align-content:center; width:15%;">Email Group</th>*@
            
        </tr>
    </thead>
    <tbody>
        @if (@Model.ModuleSequences.Count == 0)
        {
            <tr>
                <td colspan="5" class="responseMsg">No Records to Display.!</td>
            </tr>
        }
        @for (int i = 1; i <= @Model.ModuleSequences.Count; i++)
        {
            <tr>
                <td>@Model.ModuleSequences[i-1].SequenceNo</td>
                <td>@Model.ModuleSequences[i-1].ModuleName</td>
                <td>@Model.ModuleSequences[i-1].Dependency</td>
                <td>@Model.ModuleSequences[i-1].EmailNotification</td>
                <td>@Model.ModuleSequences[i - 1].EmailAddress</td>
                @*<td>@Model.JobDetails.ElementAt(i - 1).ModuleSequences[j].Dependency</td>
                <td>@Model.JobDetails.ElementAt(i - 1).ModuleSequences[j].EmailNotification</td>
               <td>@Model.JobDetails.ElementAt(i-1).ModuleSequences[j].EmailAddress</td>*@
            </tr>
        }
    </tbody>
</table>
