﻿@model SLEAdminPortal.Models.ServiceModel
@using SLEAdminPortal.Models;




<div class="ibox-title">
    <h5>
        Total Schedule :@if (Model.Services!= null)
                { @Model.Services.Count}
                else
                {<span>0</span>}
    </h5>
    <div class="ibox-tools">
        <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
        </a>

    </div>
</div>
<div class="ibox-content order-list-box-container">
    <div class="order-list-container col-md-12">
        @if (Model.Services!= null)
                {
                if (@Model.Services.Count == 0)
                {
        <tr>
            <td colspan="5" class="responseMsg">No Records to Display.!</td>
        </tr>
                }
                for (int i = 1; i <= @Model.Services.Count; i++)
                {
        <div class="order-item-container col-md-12">
            <div class="order-item-header col-md-2" style="width:23%;">
                <span class="orderIdHeader">
                    <span class="header" hidden>
                        <span class="order-id-value ScheduleJobID">@Model.Services.ElementAt(i - 1).ScheduleID</span>
                    </span>
                    <span class="header">
                        Job Name:
                        <span class="order-id-value">@Model.Services.ElementAt(i - 1).JobName</span>
                    </span>
                    <br />
                    <span class="header">
                        Environment Name:
                        <span class="order-id-value">@Model.Services.ElementAt(i - 1).EnvironmentName</span>
                    </span>
                </span>
            </div>
            <div class="order-item-desc col-md-2" style="width:15%;">
                <span class="order-id-value" style="font-weight:bold;"> Created Date\Time: @Model.Services.ElementAt(i - 1).CreatedDateTime</span>
            </div>


            <div class="order-item-desc col-md-2">
                @if (string.IsNullOrEmpty(@Model.Services.ElementAt(i - 1).ScheduleStatus))
                            {
                        <span class="order-id-value" style="font-weight:bold;"> Last Run Date\Time:<br /> </span>
                            }
                            else
                            {
                        <span class="order-id-value" style="font-weight:bold;"> Last Run Date\Time:<br />@Model.Services.ElementAt(i - 1).UpdatedDateTime </span>
                            }
            </div>
            <div class="order-item-desc col-md-2">
                <span class="order-id-value" style="font-weight:bold;"> Next Run Date\Time:<br />@Model.Services.ElementAt(i - 1).NextRunTime </span>
            </div>

            <div class="order-item-desc col-md-2">
                <span class="order-id-value" style="font-weight:bold;"> Schedule Status:@Model.Services.ElementAt(i - 1).ScheduleStatus </span>
            </div>
            <div class="order-item-desc col-md-1">
                <div><button class="btn btn-primary" onclick="EditRegularSchedule('@Model.Services.ElementAt(i - 1).ScheduleID')">Edit</button></div>
            </div>


            <div class="order-item-desc col-md-1" style=" padding:0px 0px; width:0.3333333%;">
                <i class="fa fa-angle-down btn-scheduledetail  schedule-detail-click font-bold" style="font-weight:bold; font-size:14px; color:#646464; margin-left:5px; margin-top:15px; cursor:pointer" data-target=@Model.Services.ElementAt(i - 1).ScheduleID></i>
            </div>
            <div id="accordion1" class="schedule-detail-container col-md-12" data-element=@Model.Services.ElementAt(i - 1).ScheduleID>
                <div class="schedule-detail-panel col-md-12">
                    <div class="schedule-detail-title" style="font-weight:bold;">List of Schedule Details</div>
                    <div class="schedule-detail-list col-md-12">

                    </div>
                </div>
            </div>
        </div>
                }
                }
        else
        {
        <tr>
            <td colspan="5" class="responseMsg">No Records to Display.!</td>
        </tr>
        }
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var accordionDiv = $('.schedule-detail-container').hide();
        var data2 = [
           [gd(2012, 1, 1), 7], [gd(2012, 1, 2), 6], [gd(2012, 1, 3), 4], [gd(2012, 1, 4), 8],
           [gd(2012, 1, 5), 9], [gd(2012, 1, 6), 7], [gd(2012, 1, 7), 5], [gd(2012, 1, 8), 4],
           [gd(2012, 1, 9), 7], [gd(2012, 1, 10), 8], [gd(2012, 1, 11), 9], [gd(2012, 1, 12), 6],
           [gd(2012, 1, 13), 4], [gd(2012, 1, 14), 5], [gd(2012, 1, 15), 11], [gd(2012, 1, 16), 8],
           [gd(2012, 1, 17), 8], [gd(2012, 1, 18), 11], [gd(2012, 1, 19), 11], [gd(2012, 1, 20), 6],
           [gd(2012, 1, 21), 6], [gd(2012, 1, 22), 8], [gd(2012, 1, 23), 11], [gd(2012, 1, 24), 13],
           [gd(2012, 1, 25), 7], [gd(2012, 1, 26), 9], [gd(2012, 1, 27), 9], [gd(2012, 1, 28), 8],
           [gd(2012, 1, 29), 5], [gd(2012, 1, 30), 8], [gd(2012, 1, 31), 25]
        ];

        var data3 = [
            [gd(2012, 1, 1), 800], [gd(2012, 1, 2), 500], [gd(2012, 1, 3), 600], [gd(2012, 1, 4), 700],
            [gd(2012, 1, 5), 500], [gd(2012, 1, 6), 456], [gd(2012, 1, 7), 800], [gd(2012, 1, 8), 589],
            [gd(2012, 1, 9), 467], [gd(2012, 1, 10), 876], [gd(2012, 1, 11), 689], [gd(2012, 1, 12), 700],
            [gd(2012, 1, 13), 500], [gd(2012, 1, 14), 600], [gd(2012, 1, 15), 700], [gd(2012, 1, 16), 786],
            [gd(2012, 1, 17), 345], [gd(2012, 1, 18), 888], [gd(2012, 1, 19), 888], [gd(2012, 1, 20), 888],
            [gd(2012, 1, 21), 987], [gd(2012, 1, 22), 444], [gd(2012, 1, 23), 999], [gd(2012, 1, 24), 567],
            [gd(2012, 1, 25), 786], [gd(2012, 1, 26), 666], [gd(2012, 1, 27), 888], [gd(2012, 1, 28), 900],
            [gd(2012, 1, 29), 178], [gd(2012, 1, 30), 555], [gd(2012, 1, 31), 993]
        ];


        var dataset = [
            {
                label: "Number of orders",
                data: data3,
                color: "#1ab394",
                bars: {
                    show: true,
                    align: "center",
                    barWidth: 24 * 60 * 60 * 600,
                    lineWidth: 0
                }

            }, {
                label: "Payments",
                data: data2,
                yaxis: 2,
                color: "#464f88",
                lines: {
                    lineWidth: 1,
                    show: true,
                    fill: true,
                    fillColor: {
                        colors: [{
                            opacity: 0.2
                        }, {
                            opacity: 0.2
                        }]
                    }
                },
                splines: {
                    show: false,
                    tension: 0.6,
                    lineWidth: 1,
                    fill: 0.1
                },
            }
        ];


        var options = {
            xaxis: {
                mode: "time",
                tickSize: [3, "day"],
                tickLength: 0,
                axisLabel: "Date",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: 'Arial',
                axisLabelPadding: 10,
                color: "#d5d5d5"
            },
            yaxes: [{
                position: "left",
                max: 1070,
                color: "#d5d5d5",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: 'Arial',
                axisLabelPadding: 3
            }, {
                position: "right",
                clolor: "#d5d5d5",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: ' Arial',
                axisLabelPadding: 67
            }
            ],
            legend: {
                noColumns: 1,
                labelBoxBorderColor: "#000000",
                position: "nw"
            },
            grid: {
                hoverable: false,
                borderWidth: 0
            }
        };

        function gd(year, month, day) {
            return new Date(year, month - 1, day).getTime();
        }

        var previousPoint = null, previousLabel = null;

        var mapData = {
            "US": 298,
            "SA": 200,
            "DE": 220,
            "FR": 540,
            "CN": 120,
            "AU": 760,
            "BR": 550,
            "IN": 200,
            "GB": 120,
        };





        //Schedule Detail
        $('.btn-scheduledetail').click(function (e) {
            debugger;
            var currentElem = e.currentTarget;
            var dataId = $(currentElem).attr('data-target');

            var currentSelectedBtn = $('[data-element ="' + dataId + '"]').prev().find('.schedule-detail-click');
            var previousSelectedElement = accordionDiv.not('[data-element ="' + dataId + '"]').prev().find('.schedule-detail-click');
            //   var accordionDiv = $("tr#accordion").hide();

            $.ajax({
                // method: 'POST', <-- remove this
                type: 'POST', // <-- add this
                url: "@Url.Action("GetScheduleDetails", "WindowsService")",
                data: { ScheduleID: dataId },
                success: function (data) {
                    //var debugging = false; // or true
                    //if (typeof console == "undefined") var console = { log: function () { } };
                    //else if (!debugging || typeof console.log == "undefined") console.log = function () { };
                    console.log("success");
                    //$('[data-element ="' + dataId + '"] .order-detail-panel').find('.order-detail-list').html(data);
                    //$('[data-element ="' + dataId + '"] .order-detail-panel').addClass('selected');
                    $('[data-element ="' + dataId + '"] .schedule-detail-panel').find('.schedule-detail-list').html(data);
                    $('[data-element ="' + dataId + '"] .schedule-detail-panel').addClass('selected');
                    console.log(data);
                    // $(".order-detail-container").show();
                },
                error: function (error) {
                    console.log('error');
                }
            });
            accordionDiv.not('[data-element ="' + dataId + '"]').prev().removeClass('active');
            $('[data-element ="' + dataId + '"]').prev().addClass('active');
            $('[data-element ="' + dataId + '"]').slideToggle("slow");            
            if ($(currentSelectedBtn).hasClass('fa-angle-down'))
                $(currentSelectedBtn).removeClass('fa-angle-down').addClass('fa-angle-up');
            else {
                $(currentSelectedBtn).removeClass('fa-angle-up').addClass('fa-angle-down');

            }
            if (previousSelectedElement.hasClass('fa-angle-up'))
                previousSelectedElement.removeClass('fa-angle-up').addClass('fa-angle-down');
            accordionDiv.not('[data-element ="' + dataId + '"]').slideUp("slow");

        });







        $('#world-map').vectorMap({
            map: 'world_mill_en',
            backgroundColor: "transparent",
            regionStyle: {
                initial: {
                    fill: '#e4e4e4',
                    "fill-opacity": 0.9,
                    stroke: 'none',
                    "stroke-width": 0,
                    "stroke-opacity": 0
                }
            },

            series: {
                regions: [{
                    values: mapData,
                    scale: ["#1ab394", "#22d6b1"],
                    normalizeFunction: 'polynomial'
                }]
            },
        });

    });
</script>