﻿@model SLEAdminPortal.Models.ServiceModel
<table class="table order-item-detail-partialView-table" style=" width: 100%;">
    <thead>
        <tr>
            <th>Job Name</th>
            
            <th>Schedule Interval</th>
            <th>Schedule Frequency</th>
            <th>Effective From</th>
            <th>Effective To</th>

            @*<th>Dependency</th>
                <th>Email Notification</th>*@
            @*<th>Dependency</th>
                <th>Email Notification</th>
                <th style="text-align:right; align-content:center; width:15%;">Email Group</th>*@

        </tr>
    </thead>
    <tbody>
        @if (@Model.Services.Count == 0)
        {
            <tr>
                <td colspan="5" class="responseMsg">No Records to Display.!</td>
            </tr>
        }
        @for (int i = 1; i <= @Model.Services.Count; i++)
        {
            <tr>
                <td>@Model.Services[i - 1].JobName</td>
              
                <td>@Model.Services[i - 1].ScheduleInterval</td>
                <td>@Model.Services[i - 1].ScheduleFrequency</td>
                <td>@Model.Services[i - 1].EffectiveFrom</td>
                <td>@Model.Services[i - 1].EffectiveTo</td>
                @*<td>@Model.Services[i - 1].Dependency</td>
                    <td>@Model.Services[i - 1].EmailNotification</td>*@
                @*<td>@Model.JobDetails.ElementAt(i - 1).ModuleSequences[j].Dependency</td>
                     <td>@Model.JobDetails.ElementAt(i - 1).ModuleSequences[j].EmailNotification</td>
                    <td>@Model.JobDetails.ElementAt(i-1).ModuleSequences[j].EmailAddress</td>*@
            </tr>
        }
    </tbody>
</table>
